$overlay-bg-color: #333;
$overlay-color: #fff;

.mvw-gallery-overview {
  padding-top: 10px;

  .tab-pane>div {
    padding: 0 5px;
  }

  .mvw-gallery {
    cursor: pointer;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
  }

  .preview {
    width: 100%;
  }

  .caption {
    background-color: $overlay-bg-color;
    bottom: 0;
    color: $overlay-color;
    display: block;
    line-height: 2em;
    opacity: .9;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    &:hover {
      text-overflow: initial;
      white-space: normal;
      word-wrap: break-word;
    }
  }
}
