$carousel-bg-color: #f5f5f5;
$tile-color: #eee;

.mvw-brand {
  padding: 5px 0;
}

.image-container {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 300px;
}

.tile {
  box-sizing: border-box;
  display: inline-block;
  font-weight: lighter;
  margin-top: 30px;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .title,
  .text {
    color: $tile-color;
  }
}

.blur {
  background: rgb(50, 50, 50); // for IE
  background: rgba(34, 34, 34, .55);
  height: inherit;
  padding: 20px;

  &:hover {
    background: rgb(34, 34, 34); // for IE
    background: rgba(34, 34, 34, .75);
  }
}

// Home Page Carousel

.carousel {
  background-color: $carousel-bg-color;

  .carousel-caption {
    display: none;
  }

  .fill {
    margin: 0 auto;
    max-height: 50vh;
  }

  .carousel-control {
    background: none !important;
  }
}
