---
title: "Mitglied werden"
description: "Wir konnten Ihr Interesse an unserem Verein wecken und Sie wollen uns unterstützen? Hier können Sie Mitglied werden."
keywords: "Aktivmitglied, Passivmitglied, Mitgliedschaft, Spenden"

navigation: "top"
---

extends ../../template.pug

block content
  :marked
    Gerne heißen wir Sie als Mitglied in unserem Verein willkommen. Ob als
    Aktivmusiker, Jungmusiker oder Passivmitglied sind Sie eine wichtige Stütze
    unseres Vereins.

    Setzen Sie sich mit uns in Verbindung. Sprechen Sie uns direkt vor Ort bei
    einer Probe, einem Auftritt oder einem Fest an oder schreiben Sie uns eine
    [E-Mail](kontaktformular.html). Wir freuen uns auf Sie!

  .row
    .col-md-6.col-xs-12
      :marked
        # Passivmitglied werden
        Mit folgendem Formular können Sie
        <a title="Beitrittserklärung"
            href="/files/pdf/beitrittserklaerung.pdf"
            target="_blank">Passivmitglied
          des Musikverein Wollbach werden</a>.
        Das Formular können Sie uns jederzeit persönlich bei einem unserer
        Auftritte geben, oder auch an folgenden Adresse verschicken:

        > Musikverein Wollbach<br />
        > Rathausstr. 17<br />
        > 79400 Wollbach

    .col-md-6.col-xs-12
      :marked
        # Aktive Mitgliedschaft
        ## Aktivmusiker
        Sie spielen bereits ein Instrument und möchten sich aktiv an unserem
        Vereinsleben beteiligen? Kommen Sie einfach vorbei oder sprechen Sie uns
        an! Proben sind immer donnerstags von 20:00 bis 22:00 Uhr in der
        Kandertalhalle in Wollbach.

        ## Ausbildung und Jungmusiker
        Ihr Kind möchte gerne ein Instrument lernen oder spielt bereits eines
        und möchte in einem Orchester spielen? [Hier finden Sie weitere
        Informationen...](ausbildung.html)
