---
title: "Vorstandschaft"
description: "Hier finden Sie den richtigen Ansprechpartner des Musikverein Wollbachs."
keywords: "Vorstand, Vorstandschaft, Ansprechpartner, Kontakt"

navigation: "top"
---

extends ../../template.pug

block content
  - var vorstand = require("./partials/data/vorstand.json");
  table.mvw-managing-committee-table.table.table-condensed.table-bordered.table-striped.table-hover.responsive
    thead
      tr
        th
        th Position
        th Name
        th Kontakt
    tbody
      each role in vorstand
        tr
          td
            +image(role.image, role.title)
          td
            strong #{role.title}
          td
            each person in role.persons
              | #{person}
              br
          td
            if (role.address)
              | #{role.address}
            br
            if (role.telephone)
              | Telefon: #{role.telephone}
            br
            if role.email
              a(href="mailto:" + role.email) E-Mail

  :marked
    # Im Gespräch mit unserer Vorsitzenden Annette Krey, ...
    ## ... über sich:
    "Im Februar 2005 übernahm ich das Amt der 1. Vorsitzenden von Werner van
    Linn. Die Liebe zur Musik, die Pflege eines Kulturguts, die Neugier auf
    musikalisch hohe Ansprüche und nicht zuletzt die Gemeinschaft und der
    Zusammenhalt von 'jung' und 'alt' motivieren mich dieses Amt auszufügen."

    ## ... über die Vorstandschaft:
    "Ohne die ganze Vorstandschaft, wäre diese Arbeit nicht möglich; sie
    bereichert das Vereinsleben mit ihrem unermüdlichen Einsatz und ihrem
    Engagement. Was würde ich _ohne_ euch alle tun. Danke!"

    ## ... über den Verein:

  -
  p
    | "Mein großer Dank gilt dem Musikverein Wollbach mit seinen
    +numberOfMusicians
    | aktiven Musiker/innen im Durchschnittsalter von 30 Jahren. Nur
    | mit Ihnen allen ist es möglich gute und anspruchsvolle Musik zu
    | machen. Aber auch in Traurigkeit zusammenzuhalten und trotzdem
    | Feste zu reißen, die uns allen in unvergesslicher Erinnerungen
    | bleiben."

  :marked
    ## ... über den Dirigenten:
    "Natürlch ist alles nur möglich, mit unserem hoch motivierten Dirigenten -
    ein Glücksfall für den Musikverein-Wollbach. Mit seiner charmanten Art
    motiviert er die Musiker und begeistert bei Konzerten das Publikum. Sein
    Herz hängt am Musikverein, den er mit phantastischer Musik, Ideenreichtum
    und unglaublich viel Arbeit und Zeit bereichert. Und dies ist, meiner
    Meinung nach, das Geheimnis für eine großartige, funktionierende
    Gemeinschaft und ein stetes Miteinander; mit dem Ziel und dem Ehrgeiz
    musikalisch weiterzukommen. Ihm gilt der größte Dank. Ich glaube jeder
    Musiker in unserem Verein weiß das zu schätzen."

    "Unseren Ehren- und Passivmitgliedern, unseren befreundeten Musikern aus
    dem In- und Ausland, so wie allen Konzert- und Festbesuchern gilt unser
    aller Dank. Sie unterstützen und begleiten unseren Musikverein in so
    vielfältiger Weise."

    "Danken möchte ich zuletzt allen meinen Vorgängern im Musikverein Wollbach.
    Sei es Vorstand, Vorstandschaft, aber auch Dirigenten, die diesen Verein
    stets mit großem Engagement vorbildlich geführt und musikalisch
    weiterentwickelt haben, damit _wir_ alle dieses wunderschöne Hobby und
    diese Tradition bewahren und weiterführen dürfen."

block pageStyles
  include ../../styles/vorstand.css
