---
title: "Vorstufenorchester"
description: "Das Vorstufenorchester der Musikverein Wollbach unter der Leitung von Maria Krey."
keywords: "Vorstufenorchester, Jugendarbeit, Jungmusiker, Jungmusikerin, Instrument lernen, Ausbildung"

navigation: "top"
---

extends ../../template.pug

block content
  :marked
    Seit Februar 2015 haben wir ein neues Vorstufenorchester. In diesem
    Orchester spielen 10 begeisterte Jungmusiker im Alter zwischen 9 und 14
    Jahren. Das Vorstufenorchester wird von Maria Krey geleitet. Jeden
    Donnerstag von 18 Uhr bis 19 Uhr sind sie beim Proben im St端bli der
    Kandertalhalle zu finden.

  +image("/img/vorstufe/vorstufenorchester.jpg",
         "Vorstufenorchester am Konzert im Mai 2015",
         "Vorstufenorchester am Konzert im Mai 2015",
         "Das Vorstufenorchester an ihrem ersten Konzert im Mai 2015.")

  :marked
    Aktuelle Besetzung:
    *Alban Brehm, Josepha Brehm, Lilly Geling, Lea Kronenberger, Madleina Muchenberger,
    Antonia M端ller, Emil M端ller, Lilly M端ller, Henri Riesterer, Anna Sieglin,
    Laura Sinz*

    # Die Dirigentin

  +image("/img/vorstufe/dirigentin_vorstufenorchester.jpg",
         "Dirigentin des Vorstufenorchesters - Maria Krey",
         "Dirigentin des Vorstufenorchesters - Maria Krey",
         "Maria Krey")
