---
title: "Jahreskonzert 2016"
description: "Still Feeling Good - Das Jahreskonzert des Musikverein Wollbach im Jahr 2016 anlässlich des 150 jährigen Jubiläums."
keywords: "Jahreskonzert, Jubiläum, 150 Jahre, Still Feeling Good, Jahreskonzert 2016, Konzert"

hasAmp: true
publishedDate: "2015-11-01T00:00:00.000Z"
ampLogoUrl: "files/flyer/16_jahreskonzert.jpg"
ampLogoWidth: 593
ampLogoHeight: 700
---

extends ../../template-blog.pug

block content
  :marked
    Der Musikverein Wollbach feiert sein 150-jähriges Jubiläum mit der
    Produktion einer CD. Diese wird im Rahmen der Konzerte am 22. und 23.
    Januar veröffentlicht. Die meisten Titel wurden eigens für diese CD
    arrangiert und alle werden live erklingen.

    Mit einem Abend voll packendem Sound, groovenden Rythmen und begeisternden
    Gesangssolisten wollen wir unser Jubiläum gebührend feiern.

  +image("/files/flyer/16_jahreskonzert.jpg", "Jahreskonzert 2016", null, null, 593, 700)

  :marked
    [Flyer des Jahreskonzertes als PDF herunterladen.](/files/flyer/16_jahreskonzert.pdf)
