---
title: "Benefiz Advents Konzert"
description: "Der Lions Club Lörrach veranstaltet am Sonntag den 4. Dezember in der Kirche Wollbach ein Benefiz Advents Konzert mit dem Musikverein Wollbach"
keywords: "Advent, Adventskonzert, Weihnacht, Musik, Kirche, Lions Club"

hasAmp: true
publishedDate: "2016-11-23T00:00:00.000Z"
ampLogoUrl: "img/events/advent.jpg"
ampLogoWidth: 600
ampLogoHeight: 401
---

extends ../../template-blog.pug

block content
  :marked
    Der Lions Club Lörrach veranstaltet am Sonntag den 4. Dezember 17:00 Uhr in
    der Kirche Wollbach ein Benefiz Advents Konzert mit dem Musikverein
    Wollbach.

    Zum Advent unterhalten sie verschiedene Formationen des Musikvereins
    Wollbach:
    - Jugendorchester unter der Leitung von Michael Bierwirth
    - Klarinettenchor
    - Blechbläserquintett
    - Klarinettenquartet
    - Bläseroktett

    mit Werken von J.S. Bach, W.A. Mozart, J. Pachebel, L.E. Jadin und anderen.

  +image("/img/events/advent.jpg", "Benefiz Advents Konzert", null, null, 600, 401)

  :marked
    [Flyer des Benefiz Advents Konzertes als PDF herunterladen.](/files/flyer/16_adventskonzert.pdf)
