extends ../../template.pug

block variables
  -
    var title = "Unsere Register";
    var description = "Die aktuelle Besetzung des Musikverein Wollbach nach Registern.";
    var keywords = "Register, Besetzung, Instrumente, Musiker, Musikerinnen, Personen";

block pageStyles
  include ../../styles/register.css

block pageScripts
  include ../../scripts/register.js

block content
  -
    var register = require("./partials/data/register.json");
    function groupBy(array , f)
    {
      var groups = {};
      array.forEach((o) => {
        var group = f(o); // note(ml): use to sort by groups of properties: JSON.stringify(f(o));
        groups[group] = groups[group] || [];
        groups[group].push(o);
      });
      return groups;
    }

    // note(ml): can also group by array of properties! => change group name
    var groupedRegisters = groupBy(register, (person) => person.register);

  table.mvw-register-table.responsive
    tbody
      each registerTitle in ["Querflöte", "Oboe", "Klarinette", "Fagott", "Altsaxophon", "Tenorsaxophon", "Baritonsaxophon", "Trompete", "Horn", "Posaune", "Euphonium", "Tuba", "Klavier", "Gitarre", "Schlagzeug"]
        if groupedRegisters[registerTitle]
          tr
            td
              +image(`/img/register/${registerTitle.toLowerCase().replace("ö", "oe")}_1.jpg`, registerTitle)
            td
              each person in groupedRegisters[registerTitle].sort((a, b) => a.familyName.localeCompare(b.familyName))
                p #{person.name} #{person.familyName}
