@import 'mixins/aspect-ratio';
@import 'node_modules/photoswipe/dist/photoswipe';

$pswp__assets-path: 'bilder/';
@import 'node_modules/photoswipe/src/css/default-skin/default-skin';

$overlay-bg-color: #333;
$overlay-color: #fff;
$gallery-bg-color: #ccc;

.tab-pane {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.pswp__img {
  object-fit: contain;
}

.pswp__img--placeholder--blank {
  display: none !important;
}

.ratio-content {
  display: flex;
  align-items: center;
}

.mvw-gallery-overview {
  .mvw-gallery-container {
    flex-grow: 1;
    width: 230px;
    max-width: 400px;
    float: left;
    padding: 10px;
  }

  .mvw-gallery {
    @include aspect-ratio(4.5, 3);
    background-color: $gallery-bg-color;
    cursor: pointer;
    overflow: hidden;
  }

  .preview {
    bottom: 0;
    width: 100%;

    &:hover {
      opacity: .9;
    }
  }

  .caption {
    background-color: $overlay-bg-color;
    bottom: 0;
    color: $overlay-color;
    display: block;
    line-height: 2em;
    opacity: .9;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    &:hover {
      text-overflow: initial;
      white-space: normal;
      word-wrap: break-word;
    }
  }
}
