.tab-pane {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.pswp__img {
  -o-object-fit: contain;
     object-fit: contain; }

.pswp__img--placeholder--blank {
  display: none !important; }

.ratio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.mvw-gallery-overview .mvw-gallery-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 230px;
  max-width: 400px;
  float: left;
  padding: 10px; }

.mvw-gallery-overview .mvw-gallery {
  position: relative;
  background-color: #ccc;
  cursor: pointer;
  overflow: hidden; }
  .mvw-gallery-overview .mvw-gallery::before {
    content: '';
    display: block;
    padding-top: 66.66667%;
    width: 100%; }
  .mvw-gallery-overview .mvw-gallery > .ratio-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }

.mvw-gallery-overview .preview {
  bottom: 0;
  width: 100%; }
  .mvw-gallery-overview .preview:hover {
    opacity: .9; }

.mvw-gallery-overview .caption {
  background-color: #333;
  bottom: 0;
  color: #fff;
  display: block;
  line-height: 2em;
  opacity: .9;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; }
  .mvw-gallery-overview .caption:hover {
    text-overflow: initial;
    white-space: normal;
    word-wrap: break-word; }
