figure {
  width: 100%;
  display: inline-block;
  margin: 0 auto;

  picture,
  img {
    max-height: initial;
    height: initial;
  }
}

.header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  .header-ticketshop {
    width: calc(38 / 121 * 100%);
  }

  .header-logo {
    width: calc(83 / 121 * 100%);
  }
}
