figure {
  width: 100%;
  display: inline-block;
  margin: 0 auto;

  picture,
  img {
    width: inherit;
    max-height: initial;
    height: initial;
  }
}

.header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;

  .header-ticketshop {
    width: calc(3/11 * 100%);
  }

  .header-logo {
    width: calc(8/11 * 100%);
  }
}
