@import 'themes/mv-wollbach/assets/scss/global-variables';
@import 'themes/mv-wollbach/assets/scss/mixins/breakpoint';

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .mvw-brand {
    padding: 5px 0;
    width: 40%;
  }

  .open-air {
    width: 55%;

    &:hover {
      opacity: .9;
    }
  }

  @include breakpoint(0, $mobile-max-width) {
    width: 100%;

    .mvw-brand {
      display: none;
    }

    .open-air {
      width: 100%;
    }
  }
}

.tiles {
  margin-top: 30px;
}

.carousel {
  position: relative;

  ul {
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    background: #ccc;
    scrollbar-width: none;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar {
      display: none; // Hide scrollbar for WebKit browsers
    }

    li {
      position: relative;
      min-width: 100%;
      list-style: none;
      background: center center / cover no-repeat;
      scroll-snap-align: start;

      > * {
        position: absolute;
        inset: 0;
      }

      > picture {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        > img {
          object-fit: contain;
          height: inherit;
          width: 100%;
        }
      }

      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }

  .prev,
  .next {
    display: none;
    user-select: none;
    cursor: pointer;
    font-size: 50px;
    color: white;
    position: absolute;
    padding: 15px 15px 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    line-height: 0;
  }

  .next {
    left: auto;
    right: 0;
  }
}
