@import 'themes/mv-wollbach/assets/scss/global-variables';

$success-color: #3c763d;
$success-bg: #dff0d8;
$success-border: #d6e9c6;

.alert-success {
  color: $success-bg;
  background-color: $success-bg;
  border-color: $success-border;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
