@import 'mixins/breakpoint';
@import 'themes/mv-wollbach/assets/scss/global-variables';

.mvw-register-table {
  &.responsive {
    td {
      border: 0;
      padding-left: 20px;

      &:first-child {
        padding-left: 0;
      }

      p {
        text-align: left;
      }
    }
  }
}

@include breakpoint(0, $mobile-max-width) {
  .mvw-register-table {
    td {
      border: initial;

      &:first-child {
        padding-bottom: 20px;
      }
    }
  }
}
