@import 'keywords';
@import 'themes/mv-wollbach/assets/scss/global-variables';
@import 'themes/mv-wollbach/assets/scss/mixins/breakpoint';

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 2rem;

  figure {
    margin: 0;

    &:first-child {
      flex: 1 1 100%;
      max-height: 75vh;

      img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    &:not(:first-child) {
      flex: 1 1 calc(50% - 10px);

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      @include breakpoint(0, $mobile-max-width) {
        flex: 1 1 100%;
      }
    }
  }
}
