.description {
  font-size: 0.9em;
  font-style: italic;
  color: var(--color-text-muted);
}

td,
th {
  &:first-child {
    max-width: 200px;
    width: 200px;
  }
}

.termine {
  thead {
    display: none;
  }
}
