$logo-fill-color-default: #333;
$logo-fill-color-inverse: #eee;

$shadow-gray-1: rgba(12, 13, 14, .1);
$shadow-gray-2: rgba(12, 13, 14, .035);
$shadow-gray-3: rgba(12, 13, 14, .025);

.navbar-brand {
  padding: 5px 0;
  width: 70px;

  .mvw-logo {
    fill: $logo-fill-color-inverse;
  }
}

.navbar-default {
  .navbar-brand {
    .mvw-logo {
      fill: $logo-fill-color-default;
    }
  }
}

.navbar {
  box-shadow: 0 1px 0 $shadow-gray-1, 0 1px 3px $shadow-gray-1, 0 4px 20px $shadow-gray-2, 0 1px 1px $shadow-gray-3;
  transition: background-color ease .7s;
}
