$carousel-bg-color: #f5f5f5;

.mvw-brand {
  padding: 5px 0;
}

.image-container {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 300px;
}

// Home Page Carousel

.carousel {
  background-color: $carousel-bg-color;

  .carousel-caption {
    display: none;
  }

  .fill {
    margin: 0 auto;
    max-height: 50vh;
  }

  .carousel-control {
    background: none;
  }
}
