// colors
$highlight-color: #07b;;
$secondary-highlight-color: #4a4a4a;

$gray-base: #333;
$gray-light: #999;
$gray-lighter: #ddd;
$color-light-grey: #f5f5f5;
$body-bg: #fff;
$black: #000;

$text-color: $gray-base;
$text-color-inactive: $gray-lighter;
$gray-border-color: #ccc;
$gray-light-border-color: $gray-lighter;

// fonts
$font-family: 'Open Sans', Arial, sans-serif;
$font-size-large: 18px;
$font-size-base: 14px;
$font-size-small: 12px;

// structure
$top-nav-height: 50px;
$header-min-height: 200px;
$header-max-width: 1200px;
$content-max-width: 1100px;
