@import 'global-variables';
@import 'mixins/breakpoint';

.tab-pane {
  &:not(.active) {
    display: none;
  }
}

.tabs {
  border-bottom: 1px  solid $gray-light;
  padding: 0;

  & > .tab {
    &.active {
      border: 1px solid $gray-light;
      border-bottom: 1px solid $body-bg;
    }
  }

  & > .tab,
  & > .dropdown {
    margin-bottom: -1px;
    display: inline-block;
    min-width: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid transparent;
    border-bottom: 1px solid $gray-light;

    &:hover {
      &:not(.active) {
        background-color: $gray-lighter;
      }
    }

    & > span,
    & > a {
      color: $gray-base;
      text-decoration: none;
      display: block;
      padding: 10px 20px;
      text-align: center;
    }
  }

  .dropdown {
    height: initial;

    &:hover {
      .dropdown-menu {
        top: auto;
        z-index: 100;
        min-width: 100%;

        a {
          color: $gray-base;
          text-decoration: none;
        }
      }
    }

    .tab {
      &.active {
        background-color: $gray-lighter;
      }
    }
  }
}

.dropdown-menu,
.tabs {
  & > .hidden-mobile {
    @include breakpoint(0, $mobile-max-width) {
      display: none;
    }
  }

  & > .visible-mobile {
    @include breakpoint($mobile-max-width) {
      display: none;
    }
  }
}
