@import 'global-variables';
@import 'mixins/breakpoint';

$carousel-bg-color: $color-light-grey;

$slider-item-bg: #ccc;
$slider-control-fg: #fff;
$slider-control-bg: #2a2a2a;

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .mvw-brand {
    padding: 5px 0;
    width: 50%;
  }

  .cd {
    width: percentage(5 / 12);

    &:hover {
      opacity: .9;
    }
  }

  @include breakpoint(0, 768px) {
    .mvw-brand,
    .cd {
      width: 100%;
    }

    .cd {
      margin-top: 20px;
    }
  }
}

.slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0;
  border-radius: 4px;
}

.slider-items {
  position: relative;
  margin: 0;
  width: 100%;
  padding: 0;
  list-style: none;
}

.slider-item {
  position: relative;
  display: block;
  float: left;
  margin: 0 auto;
  padding: 0;
  max-height: 45vh;
  background: $slider-item-bg;
}

.slider-control {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: $slider-control-bg;
  color: $slider-control-fg;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: .8;
  cursor: pointer;

  &:hover {
    opacity: 1;
    transition: opacity .2s ease;
  }

  &.left {
    border-radius: 0 2px 2px 0;
  }

  &.right {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
}

.tiles {
  margin-top: 30px;
}
