@import 'global-variables';
$carousel-bg-color: $color-light-grey;

.mvw-brand {
  padding: 5px 0;
}

.image-container {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 300px;
}

.slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0;
  border-radius: 4px;
}

.slider-items {
  position: relative;
  margin: 0;
  width: 100%;
  padding: 0;
  list-style: none;
}

.slider-item {
  position: relative;
  display: block;
  float: left;
  margin: 0 auto;
  padding: 0;
  max-height: 45vh;
  background: #ccc;
}

.slider-control {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: .8;
  cursor: pointer;

  &:hover {
    opacity: 1;
    transition: opacity .2s ease;
  }

  &.left {
    border-radius: 0 2px 2px 0;
  }

  &.right {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
}
