.mvw-register-table {
  &.responsive {
    td {
      border: 0;
      padding-left: 20px;

      &:first-child {
        padding-left: 0;
      }

      p {
        text-align: left;
      }
    }
  }
}

@media not screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .mvw-register-table {
    td {
      border: initial;

      &:first-child {
        padding-bottom: 20px;
      }
    }
  }
}
