extends ../template.pug

block variables
  -
    var title = "Datenschutz";
    var description = "Das Impressum der Webseite des Musikverein Wollbach.";
    var keywords = "Impressum, Kontakt, Übersicht, Webseiteninformationen, Informationen zur Webseite, Rechtiliches, Haftung, Haftungsausschluss, Datenschutz";

block content
  :marked
    # Datenschutz
    Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr
    ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und
    entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
    Datenschutzerklärung.
    
    Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener
    Daten möglich. Soweit auf unseren Seiten personenbezogene Daten
    (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden,
    erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten
    werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
    
    Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der
    Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser
    Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
    
    # Auskunft, Löschung, Sperrung
    Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre
    gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den
    Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder
    Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema
    personenbezogene Daten können Sie sich jederzeit unter der im Impressum
    angegebenen Adresse an uns wenden.
    
    # Kontaktformular
    Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre
    Angaben aus dem Anfrageformular inklusive der von Ihnen dort angegebenen
    Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von
    Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre
    Einwilligung weiter.

    # Einsatz von reCAPTCHA
    Um Eingabeformulare auf unserer Seite zu schützen, setzen wir den Dienst
    „reCAPTCHA“ der Firma Google Inc., 1600 Amphitheatre Parkway, Mountain View,
    CA 94043 USA, nachfolgend „Google“, ein. Durch den Einsatz dieses Dienstes
    kann unterschieden werden, ob die entsprechende Eingabe menschlicher Herkunft
    ist oder durch automatisierte maschinelle Verarbeitung missbräuchlich erfolgt.
    
    Nach unserer Kenntnis werden die Referrer-URL, die IP-Adresse, das Verhalten
    der Webseitenbesucher, Informationen über Betriebssystem, Browser und
    Verweildauer, Cookies, Darstellungsanweisungen und Skripte, das Eingabeverhalten
    des Nutzers sowie Mausbewegungen im Bereich der „reCAPTCHA“-Checkbox an
    „Google“ übertragen.
    
    Google verwendet die so erlangten Informationen unter anderem dazu, Bücher
    und andere Druckerzeugnisse zu digitalisieren sowie Dienste wie Google Street
    View und Google Maps zu optimieren (bspw. Hausnummern- und Straßennamenerkennung).
    
    Die im Rahmen von „reCAPTCHA“ übermittelte IP-Adresse wird nicht mit anderen
    Daten von Google zusammengeführt, außer Sie sind zum Zeitpunkt der Nutzung
    des „reCAPTCHA“-Plug-ins bei Ihrem Google-Account angemeldet. Wenn Sie diese
    Übermittlung und Speicherung von Daten über Sie und Ihr Verhalten auf unserer
    Webseite durch „Google“ unterbinden wollen, müssen Sie sich bei „Google“
    ausloggen und zwar bevor Sie unsere Seite besuchen bzw. das reCAPTCHA Plug-in
    benutzen.
    
    Die Nutzung des Dienstes „reCAPTCHA“ erlangten Informationen erfolgt gemäß
    den Google-Nutzungsbedingungen: 
    
    https://www.google.com/intl/de/policies/privacy/
