extends ../template.pug

block variables
  -
    var title = "Willkommen beim Musikverein Wollbach";
    var description = "Die Website des Musikverein Wollbach 1866 e.V.. Alles Rund um unsere Auftritte, Jugendarbeit, Besetzung, Bilder und Einblicke in die Vereinshistorie.";
    var keywords = "Wollbach, Musikverein, Musikverein Wollbach 1866 e.V., Verein, Musik, Orchester, Blasmusik, Instrument, Jugendarbeit, Konzert";

block pageStyles
  include ../styles/index.css

block pageScripts
  include ../scripts/index.js

block header
  header
    .mvw-brand
      +image("/img/slider/logo.png", "Das neue Logo des Musikverein Wollbach")
    .cd
      a(href="blog_2016-still-feeling-good.html")
        +image("/img/events/cd.jpg", "Still Feelin' Good")

block content
  -
    let slides = [
      {
        "title": "Der Musikverein vor dem Jahreskonzert 2019",
        "url": "/img/jahreskonzerte/konzert_2019.jpg"
      },
      {
        "title": "Der Musikverein vor dem Jahreskonzert 2015",
        "url": "/img/jahreskonzerte/konzert_2015.jpg"
      },
      {
        "title": "Der Musikverein vor dem Jahreskonzert 2018",
        "url": "/img/jahreskonzerte/konzert_2018.jpg"
      },
      {
        "title": "Musikverein",
        "url": "/img/slider/alle_1.jpg"
      },
      {
        "title": "Altsaxophon",
        "url": "/img/slider/altsaxophon.jpg"
      },
      {
        "title": "Baritonsaxophon",
        "url": "/img/slider/baritonsaxophon.jpg"
      },
      {
        "title": "Dampfmusik",
        "url": "/img/slider/dampfmusik.jpg"
      },
      {
        "title": "Musikverein",
        "url": "/img/slider/alle_2.jpg"
      },
      {
        "title": "Euphonium",
        "url": "/img/slider/euphonium.jpg"
      },
      {
        "title": "Fagott",
        "url": "/img/slider/fagott.jpg"
      },
      {
        "title": "Gitarre",
        "url": "/img/slider/gitarre.jpg"
      },
      {
        "title": "Musikverein",
        "url": "/img/slider/alle_3.jpg"
      },
      {
        "title": "Horn",
        "url": "/img/slider/horn.jpg"
      },
      {
        "title": "Klarinette",
        "url": "/img/slider/klarinette.jpg"
      },
      {
        "title": "Klavier",
        "url": "/img/slider/klavier.jpg"
      },
      {
        "title": "Musikverein",
        "url": "/img/slider/alle_4.jpg"
      },
      {
        "title": "Posaune",
        "url": "/img/slider/posaune.jpg"
      },
      {
        "title": "Querflöte",
        "url": "/img/slider/querfloete.jpg"
      },
      {
        "title": "Saxophon",
        "url": "/img/slider/saxophon.jpg"
      },
      {
        "title": "Musikverein",
        "url": "/img/slider/alle_5.jpg"
      },
      {
        "title": "Schlagzeug",
        "url": "/img/slider/schlagzeug.jpg"
      },
      {
        "title": "Tenorsaxophon",
        "url": "/img/slider/tenorsaxophon.jpg"
      },
      {
        "title": "Trompete",
        "url": "/img/slider/trompete.jpg"
      },
      {
        "title": "Tuba",
        "url": "/img/slider/tuba.jpg"
      }
    ];

  .slider
    ol.slider-items
      for slide in slides
        li.slider-item
          .fill(style=`background-image: url('${slide.url}');` data-alt=slide.title)
    a.unstyled.left.slider-control(href="#slider")
      span.icon-prev &lt;
    a.unstyled.right.slider-control(href="#slider")
      span.icon-next &gt;

  .tiles
    +tile("mitgliedschaft", "./img/slider/alle_4.jpg", "Mitglied werden", "Wir konnten Ihr Interesse an unserem Verein wecken und Sie wollen uns unterstützen? Hier können Sie Mitglied werden.")
    .tile
      a.unstyled
        .blur
          .tile-content
            h3.title Gooding
            .text
              iframe(width="300" height="250" name="Gooding Banner-Widget" id="Gooding Banner-Widget" frameborder="0" allowtransparency="true" scrolling="yes" title="Gooding Banner-Widget" src="https://erweiterungen.gooding.de/app/widget/musikverein-wollbach-e-v-81856/medium-rectangle/tab/0/donations/1/v/1558165470.A28rag7nM2Yxt3q9VLOI%252BYV3F2Qi8uhUh37UsJLJ%252FxK3JIq4le98Cvlcd9Hb1X6gsATY9t%252BN8tdAznLUvM09hsdrcybwhxua7HIGF5Th792wkekSYWpokDgcVvNQRGkF")
    +tile("blog_2019-forsthof", "./files/flyer/19_forsthof.jpg", "Forsthof 2019", `Am Samstag den 22. Juni lädt der Musikverein Wollbach Sie zu einem ganz besonderen Anlass ein mit musikalischem und kulinarischem Genuss in exklusivem Ambiente...`)
    +tile("blog_2019-sauserfahrt", "./img/events/chanderli.jpg", "Sauserfahrt 2019", `Am Samstag den 12.10.2019 dampft auch in diesem Jahr wieder der "Sauser-Express" durch das Kandertal...`)
