---
title: "Willkommen beim Musikverein Wollbach"
description: "Die Website des Musikverein Wollbach 1866 e.V.. Alles Rund um unsere Auftritte, Jugendarbeit, Besetzung, Bilder und Einblicke in die Vereinshistorie."
keywords: "Wollbach, Musikverein, Musikverein Wollbach 1866 e.V., Verein, Musik, Orchester, Blasmusik, Instrument, Jugendarbeit, Konzert"

hideBreadcrumb: true
---

extends ../template.pug

block header
  header
      .mvw-brand
        +image("/img/slider/logo.png", "Das neue Logo des Musikverein Wollbach")
      .cd
        a(href="blog_2016-still-feeling-good.html")
          +image("/img/events/cd.jpg", "Still Feelin' Good")

block content
  -
    let slides = [
      {
        "title": "Der Musikverein vor dem Jahreskonzert 2015",
        "url": "/img/jahreskonzerte/konzert_2015.jpg"
      },
      {
        "title": "Musikverein",
        "url": "/img/slider/alle_1.jpg"
      },
      {
        "title": "Musikverein",
        "url": "/img/slider/alle_2.jpg"
      },
      {
        "title": "Musikverein",
        "url": "/img/slider/alle_3.jpg"
      },
      {
        "title": "Musikverein",
        "url": "/img/slider/alle_4.jpg"
      },
      {
        "title": "Musikverein",
        "url": "/img/slider/alle_5.jpg"
      },
      {
        "title": "Altsaxophon",
        "url": "/img/slider/altsaxophon.jpg"
      },
      {
        "title": "Baritonsaxophon",
        "url": "/img/slider/baritonsaxophon.jpg"
      },
      {
        "title": "Dampfmusik",
        "url": "/img/slider/dampfmusik.jpg"
      },
      {
        "title": "Euphonium",
        "url": "/img/slider/euphonium.jpg"
      },
      {
        "title": "Fagott",
        "url": "/img/slider/fagott.jpg"
      },
      {
        "title": "Gitarre",
        "url": "/img/slider/gitarre.jpg"
      },
      {
        "title": "Horn",
        "url": "/img/slider/horn.jpg"
      },
      {
        "title": "Klarinette",
        "url": "/img/slider/klarinette.jpg"
      },
      {
        "title": "Klavier",
        "url": "/img/slider/klavier.jpg"
      },
      {
        "title": "Posaune",
        "url": "/img/slider/posaune.jpg"
      },
      {
        "title": "Querflöte",
        "url": "/img/slider/querfloete.jpg"
      },
      {
        "title": "Saxophon",
        "url": "/img/slider/saxophon.jpg"
      },
      {
        "title": "Schlagzeug",
        "url": "/img/slider/schlagzeug.jpg"
      },
      {
        "title": "Tenorsaxophon",
        "url": "/img/slider/tenorsaxophon.jpg"
      },
      {
        "title": "Trompete",
        "url": "/img/slider/trompete.jpg"
      },
      {
        "title": "Tuba",
        "url": "/img/slider/tuba.jpg"
      }
    ];

  .slider
    ol.slider-items
      for slide in slides
        li.slider-item
          div.fill(style="background-image:url('" + slide.url + "');" data-alt=slide.title)
          .carousel-caption
            h2= slide.title
    a.unstyled.left.slider-control(href="#slider")
      span.icon-prev
    a.unstyled.right.slider-control(href="#slider")
      span.icon-next

  .tiles
    +tile("blog_2017-1250-wollbach", "./img/events/1250.png", "1250 Jahre Wollbach", "Der Musikverein freut sich, an den Festlichkeiten mitwirken zu können und das Jubiläum musikalisch mitgestalten zu können.")
    +tile("mitgliedschaft", "./img/slider/alle_4.jpg", "Mitglied werden", "Wir konnten Ihr Interesse an unserem Verein wecken und Sie wollen uns unterstützen? Hier können Sie Mitglied werden.")

block pageStyles
  include ../styles/index.css

block pageScripts
  include ../scripts/index.js
