---
title: "Rückblick"
description: "Vergangene Konzerte, Feste und sonstige Anlässe des Musikverein Wollbachs werden hier kurz zusammengefasst."
keywords: "Rückblick, Berichte, Zusammenfassungen, Vergangene Events, Nachrichten"

navigation: "top"
---

extends ../template.pug

block pageScripts
  include ../scripts/news.js

block pageStyles
  include ../styles/news.css

block content
  -
    var news = require("./partials/data/news.json");
    var years = Object.keys(news).sort((a, b) => b - a);
    var keywords = [];
    years.map((y) => {
      news[y].map((e) => {
        for (var k = 0; k < (e.keywords || []).length; k++) {
          var keyword = e.keywords[k];
          if (keywords.indexOf(keyword) === -1) {
            keywords.push(keyword);
          }
        }
      });
    });

  if keywords.length > 0
    .keyword-selector
      each keyword in keywords
        span.keyword
          | #{keyword}

  +renderTabs(years)

  .tab-content
    each year, index in years
      .tab-pane.fade(id=year class=(index === 0 ? "active in" : ""))
        each item in news[year]
          .entry
            if item.keywords
              .keywords.hidden
                each tag in item.keywords
                  span.keyword #{tag}
            h3
              if item.starttime
                +formatTimespan(item.starttime, item.endtime, false)
                | &nbsp;-&nbsp;
              | #{item.title}
            if item.image
              +image(item.image.src, item.image.title, item.image.title, item.image.caption)
            if item.video
              +youtube(item.video.src)
            != marked(item.content || "")
