extends ../template.pug

block variables
  -
    var title = "Seiten-Übersicht";
    var description = "Eine Übersicht der Inhalte der Webseite des Musikverein Wollbach.";
    var keywords = "Eine Übersicht der Inhalte der Webseite des Musikverein Wollbach.";

block content
  include ../siteOverviewList.pug
