{{- $current := . -}}
{{- $trail := slice -}}
{{- range .Ancestors.Reverse -}}
  {{- $trail = $trail | append . -}}
{{- end -}}
{{- if and (not .IsHome) (or (not $trail) (not (index $trail 0).IsHome)) -}}
  {{- $trail = slice .Site.Home | append $trail -}}
{{- end -}}
{{- $trail = $trail | append . -}}
<ol class="breadcrumb" itemprop="breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
  {{- range $i, $p := $trail }}
  <li {{ if eq $p $current }}class="active"{{ end }} itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem">
    {{ if $p.Permalink }}
    <a itemprop="item" href="{{ $p.Permalink }}">
      <span itemprop="name">{{if $p.IsHome}}Start{{else}}{{ $p.Title }}{{end}}</span>
    </a>
    {{ else }}
      <span itemprop="name">{{if $p.IsHome}}Start{{else}}{{ $p.Title }}{{end}}</span>
    {{ end }}
    <meta itemprop="position" content="{{ add $i 1 }}"/>
  </li>
  {{- end }}
</ol>
