<footer class="footer">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.footer }}
    <li>
      <a href="{{ .URL }}">
        {{ .Name }}
      </a>
    </li>
    {{ end }}
  </ul>
  <ul class="social">
    <li>
      <a target="_blank" href="https://www.facebook.com/Musikverein-Wollbach-1866-eV-378378646043433/">Facebook</a>
    </li>
    <li>
      <a target="_blank" href="https://instagram.com/musikvereinwollbach">Instagram</a>
    </li>
    <li>
      <a target="_blank" href="https://mv-wollbach.us14.list-manage.com/subscribe?u=51bc76b1a66e7059e01e325e8&id=acb54769b4">Newsletter</a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/Tiliavir/mvw-website">GitHub</a>
    </li>
  </ul>

  {{ range .Page.Params.CustomExternalJs -}}
    <script defer src="{{ . }}"></script>
  {{- end }}

  {{ with resources.Get "ts/app.ts" | js.Build | minify }}
    <script>{{ .Content | safeJS }}</script>
  {{ end }}

  <script>
  {{ range .Page.Params.CustomJs -}}
    {{ with resources.Get . | js.Build | minify }}
      {{ .Content | safeJS }}
    {{ end }}
  {{- end }}
  </script>
</footer>
