<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>{{- .Title -}}{{ cond (eq .Title "") "" " | " }}{{- .Site.Title -}}</title>

  <base href="{{- .Site.BaseURL -}}"/>

  <meta name="author" content="{{- .Site.Title -}}"/>
  <meta name="description" content="{{.Description}}"/>
  <meta name="keywords" content={{.Keywords}}/>

  <meta property="og:type" content="website"/>
  <meta property="og:image" content="{{- .Site.BaseURL -}}img/logo_color.png"/>
  <meta property="og:locale" content="de_DE"/>
  <meta property="og:site_name" content="{{- .Site.Title -}}"/>
  <meta property="fb:admins" content="100000073380067"/>

  <style class="critical">
    {{- $cssOpts := (dict "targetPath" "css/app.css" "outputStyle" "compressed" "enableSourceMap" false ) -}}
    {{- with resources.Get "scss/app.scss" | resources.ExecuteAsTemplate "style.app.css" . | toCSS $cssOpts | postCSS | minify -}}
      {{ .Content | safeCSS }}
    {{- end -}}

    {{- $cssOpts := (dict "targetPath" (printf "css/%s.css" .File.ContentBaseName) "outputStyle" "compressed" "enableSourceMap" false) -}}
    {{- range .Page.Params.CustomCss -}}
      {{- with resources.Get . | toCSS $cssOpts | postCSS | minify -}}
        {{ .Content | safeCSS }}
      {{- end -}}
    {{- end -}}
  </style>

  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=latin-ext" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=latin-ext"></noscript>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>
  <link rel="manifest" href="/manifest.json"/>
  <link rel="mask-icon" href="/safari-pinned-tab.svg"/>
  <meta name="apple-mobile-web-app-title" content="MV Wollbach"/>
  <meta name="application-name" content="MV Wollbach"/>
  <meta name="msapplication-TileColor" content="#4a4a4a"/>
  <meta name="msapplication-TileImage" content="/mstile-144x144.png"/>
  <meta name="theme-color" content="#4a4a4a"/>
</head>
