{{- $src := .src -}}
{{- $alt := .alt | default "" -}}
{{- $title := .title | default "" -}}
{{- $class := .class | default "" -}}
{{- $isAboveTheFold := .isAboveTheFold | default false -}}
{{- $sizes := .sizes | default nil -}}

{{- $img := "" -}}
{{- if .Page.Resources.GetMatch $src -}}
  {{- $img = .Page.Resources.GetMatch $src -}}
{{- else -}}
  {{- $img = resources.Get $src -}}
{{- end -}}

{{ $img := .Page.Resources.GetMatch $src }}
{{ if not $img }}
  {{ warnf "Missing image in page. Move %-50s | %-40s" $src .Page.File.Path }}
{{ else }}

  {{- $originalWidth := $img.Width -}}

  {{- $r480Webp := cond (ge $img.Width 480) ($img.Resize "480x webp q85 lanczos" | fingerprint) $img -}}
  {{- $r768Webp := cond (ge $img.Width 768) ($img.Resize "768x webp q85 lanczos" | fingerprint) nil -}}
  {{- $r1100Webp := cond (ge $img.Width 1100) ($img.Resize "1100x webp q85 lanczos" | fingerprint) nil -}}
  {{- $r1600Webp := cond (ge $img.Width 1600) ($img.Resize "1600x webp q85 lanczos" | fingerprint) nil -}}

  {{- $r480Jpg := cond (ge $img.Width 480) ($img.Resize "480x jpg q85 lanczos" | fingerprint) $img -}}
  {{- $r768Jpg := cond (ge $img.Width 768) ($img.Resize "768x jpg q85 lanczos" | fingerprint) nil -}}
  {{- $r1100Jpg := cond (ge $img.Width 1100) ($img.Resize "1100x jpg q85 lanczos" | fingerprint) nil -}}
  {{- $r1600Jpg := cond (ge $img.Width 1600) ($img.Resize "1600x jpg q85 lanczos" | fingerprint) nil -}}

  {{- if $isAboveTheFold -}}
    <link rel="preload" as="image" href="{{ $r480Webp.RelPermalink }}" fetchpriority="high">
  {{- end -}}

{{ if eq (trim $sizes " ") "" }}
      {{- $sizesList := slice -}}
      {{- $sizesList = $sizesList | append "(max-width: 480px) 480px" -}}
      {{- if $r768Webp }}
        {{- $sizesList = $sizesList | append "(max-width: 960px) 768px" -}}
      {{- end }}
      {{- if $r1100Webp }}
        {{- $sizesList = $sizesList | append "(max-width: 2000px) 1100px" -}}
      {{- end }}
      {{- $sizes = printf "%s, 1600px" (delimit $sizesList ", ") -}}
  {{ end }}

  <picture>
    {{- $srcsetJpg := slice -}}
    {{- with $r480Jpg }}{{ $srcsetJpg = $srcsetJpg | append (printf "%s 480w" .RelPermalink) }}{{ end }}
    {{- with $r768Jpg }}{{ $srcsetJpg = $srcsetJpg | append (printf "%s 768w" .RelPermalink) }}{{ end }}
    {{- with $r1100Jpg }}{{ $srcsetJpg = $srcsetJpg | append (printf "%s 1100w" .RelPermalink) }}{{ end }}
    {{- with $r1600Jpg }}{{ $srcsetJpg = $srcsetJpg | append (printf "%s 1600w" .RelPermalink) }}{{ end }}

    <source
        srcset="{{ delimit $srcsetJpg ", " }}"
        sizes="{{ $sizes }}"
        type="image/jpeg"
    />

    {{- $srcsetWebp := slice -}}
    {{- with $r480Jpg }}{{ $srcsetWebp = $srcsetWebp | append (printf "%s 480w" .RelPermalink) }}{{ end }}
    {{- with $r768Jpg }}{{ $srcsetWebp = $srcsetWebp | append (printf "%s 768w" .RelPermalink) }}{{ end }}
    {{- with $r1100Jpg }}{{ $srcsetWebp = $srcsetWebp | append (printf "%s 1100w" .RelPermalink) }}{{ end }}
    {{- with $r1600Jpg }}{{ $srcsetWebp = $srcsetWebp | append (printf "%s 1600w" .RelPermalink) }}{{ end }}

    <source
        srcset="{{ delimit $srcsetWebp ", " }}"
        sizes="{{ $sizes }}"
        type="image/webp"
    />

    <img
      src="{{ $r480Webp.RelPermalink }}"
      class="{{ $class }}"
      alt="{{ $alt }}"
      title="{{ $title }}"
      loading="{{ cond $isAboveTheFold "eager" "lazy" }}"
      decoding="{{ cond $isAboveTheFold "sync" "async" }}"
    />
  </picture>

{{ end }}
