<div class="mail-popup">
  <span class="close"></span><label class="dont-show"><input type="checkbox" /> Nicht mehr anzeigen</label>

  <p>Unter folgendem Link können Sie sich für den Newsletter des Musikverein Wollbach anmelden.</p>

  <p>Hierfür wird der externe Dienst "Mailchimp" verwendet.</p>

  <p><a href="https://mv-wollbach.us14.list-manage.com/subscribe?u=51bc76b1a66e7059e01e325e8&id=acb54769b4"
     class="button button-primary"
     rel="noopener"
     target="_blank">Newsletter abonnieren</a>
  </p>
</div>
