{{ $hash := .hash }}

<div id="wrapper-{{ safeJS (md5 (index $hash)) }}" class="youtube-dsgvo-embed" style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%; margin: 1em 0; overflow: hidden;">
  <div id="container-{{ safeJS (md5 (index $hash)) }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center;">
    <script>function loadIframe_{{ safeJS (md5 (index $hash)) }}() {
      var e1 = document.getElementById('info-{{ safeJS (md5 (index $hash)) }}');
      e1.parentNode.removeChild(e1);
      var e2 = document.getElementById('image-{{ safeJS (md5 (index $hash)) }}');
      e2.parentNode.removeChild(e2);
      document.getElementById('container-{{ safeJS (md5 (index $hash)) }}').innerHTML = '<iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube-nocookie.com/embed/{{ index $hash }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
    }</script>

    <div id="info-{{ safeJS (md5 (index $hash)) }}"
         style="text-align: center; padding: 2em; position: absolute; top: 0; height: 100%; z-index: 10; background: rgba(255, 255, 255, .75); overflow: auto;">
      <span style="font-weight: bold; display: block; margin: 1em;">Externe Datenquelle!</span>
      <p><small>Das hier eingebettete Video wird durch den Anbieter "YouTube LLC", 901 Cherry Avenue, San Bruno, CA
        94066, USA, vertreten durch Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA
        bereitgestellt.</small></p>

      <p><small>Wenn Sie im Folgenden auf "Video laden" klicken, wird Ihre IP-Adresse an YouTube übermittelt und YouTube
        erfährt, dass Sie das Video angesehen haben. Sind Sie bei YouTube eingeloggt, wird diese Information auch
        Ihrem Benutzerkonto zugeordnet.</small></p>

      <p><small>Von der dann möglichen Erhebung und Verwendung Ihrer Daten durch YouTube haben wir keine Kenntnis und
        darauf auch keinen Einfluss.</small></p>

      <p><small>Nähere Informationen können Sie der Datenschutzerklärung von YouTube unter <a
          href="https://www.google.de/intl/de/policies/privacy/" target="_blank" rel="noopener">www.google.de/intl/de/policies/privacy/</a>
        entnehmen.</small></p>
      <span style="display: block; margin: 1em auto; padding: .25em; background: #AAE6AA; width: 25%; cursor: pointer;"
            onclick="loadIframe_{{ safeJS (md5 (index $hash)) }}();">Video laden</span>
    </div>
    <div id="image-{{ safeJS (md5 (index $hash)) }}"
         style="background-repeat: no-repeat; background-size: cover; filter:blur(5px); height: 100%; width: 100%; background-position: center; position: relative; top: 0;">
    </div>
  </div>
</div>
