---
title: "Ausbildung"
description: "Die Jugendarbeit des Musikverein Wollbach bietet neben einer guten Ausbildung und Talentförderung auch eine tolle Gemeinschaft und viel Spaß am gemeinsamen Musizieren im Vorstufen- und Jugendorchester."
keywords: "Ausbildung, Schulung, Jungmusiker, Jungmusikerin, Instrument lernen, Jugendorchester, Talentförderung, Vorstufenorchester"

navigation: "top"
---

extends ../../template.pug

block content
  +image("/img/jugend/jugend_und_vorstufenorchester.jpg",
         "Das Jugendorchester und das Vorstufenorchester des Musikverein Wollbach im Mai 2015",
         "Gruppenfoto: Jugendorchester und Vorstufenorchester",
         "Das Jugendorchester und das Vorstufenorchester des Musikverein Wollbach im Mai 2015")

  :marked
    Du hast Spaß an Musik? Du würdest gerne selbst ein Instrument spielen?

    Dann bist du beim Musikverein Wollbach 1866 e.V. genau richtig!

    Wir bilden alle Instrumente, die für die Zusammensetzung des Orchesters
    nötig sind, aus. Auch kommt der Spaß bei uns nicht zu kurz. Bei gemeinsamen
    Kinobesuchen, Kegelabenden, Pizza Abenden etc. sind unsere jungen
    Musikerinnen und Musiker mit dabei.

    Wenn du also Interesse hast, dann wende dich doch an unsere Jugendleiter,
    Matthias Braun und Maria Krey. _Oder komm doch einfach mal vorbei in eine
    Probe des Vorstufenorchesters. Immer donnerstags von 18 bis 19 Uhr
    findest du uns im Stübli der Kandertalhalle in Wollbach._

    Viel Spaß beim Erlernen eines Instruments und in unserem Verein.

    Dein Musikverein Wollbach 1866 e.V.
