extends ../../template.pug

block variables
  -
    var title = "Jugendorchester";
    var description = "Das Jugendorchester des Musikverein Wollbach under der Leitung von Maria Krey.";
    var keywords = "Jugendorchester, Jugendarbeit, Ausbildung, Jungmusiker, Jungmusikerinnen, Instrument lernen";

block content
  +image("/img/jugend/jugendorchester.jpg", "Das Jugendorchester im Mai 2015")

  :marked
    # Der Dirigent
    Unsere Dirigentin ist Maria Krey. Maria spielt Klarinette, Saxophon und Klavier
    und dirigiert seit 2017 unser Jugendorchester.

  +image("/img/personen/dirigentin_jugend.jpg", "Jugendorchester Dirigentin", null, "Die Jugendorchester Dirigentin: Maria Krey")

  :marked
    Du spielst bereits ein Instrument und möchtest gerne mit anderen zusammen musizieren?
    Dann schau doch bei einer unser Proben immer montags von 18:30 bis 20:00 Uhr vorbei!
