extends ../../template.pug

block variables
  -
    var title = "Jahreskonzert 2020";
    var description = "BTHVN - Ludwig van Beethoven - Das Jahreskonzert des Musikverein Wollbach im Jahr 2020.";
    var keywords = "Jahreskonzert, Jahreskonzert 2020, Konzert, Beethoven, bthvn";
    var publishedDate = "2020-01-19T00:00:00.000Z";
    var ampLogoUrl = "files/flyer/20_jahreskonzert.jpg";
    var ampLogoWidth = 1600;
    var ampLogoHeight = 1066;

block pageStyles
  include ../../styles/blog_2020-jahreskonzert.css

block content
  :marked
    Am Freitag den 31. Januar und Samstag den 01. Februar veranstalten wir unser
    alljährliches Jahreskonzert in der Kandertalhalle in Wollbach. Das
    Konzert steht dieses Jahr unter dem Motto "BTHVN - Ludwig van Beethoven" - zum 250 jährigen
    Geburtstag. Einlass ist ab 18:30 Uhr, Konzertbeginn um 20:00 Uhr.

    Den 250. Geburtstag des Komponisten **Ludwig van Beethoven** im Jahr 2020 feiert der
    Musikverein Wollbach mit einem abwechslungsreichen Konzert, welches die Vielfalt der
    Werke Beethovens zu Gehör bringen wird.

    Als besonderer Höhepunkt wird das **Klavierkonzert Nr. 3 in c-Moll** mit **Paulina Maślanka**
    erklingen. Die in Polen geborene Konzertpianistin lebt heute in Zürich und ist Preisträgerin
    verschiedener nationaler und internationaler Wettbewerbe.

    Wir freuen uns auf Ihren Besuch.

  +image("/files/flyer/20_jahreskonzert.jpg", "Jahreskonzert 2020", null, null, 1600, 1066)
  +image("/files/flyer/20_jahreskonzert_back.jpg", "Jahreskonzert 2020 - Programm", null, null, 1600, 1066)

  :marked
    [Flyer des Jahreskonzertes als PDF herunterladen.](/files/flyer/20_jahreskonzert.pdf)

    # Programm
    ## Overtüre zu "Fidelio" <sub>op. 72</sub>
    *Ludwig van Beethoven*

    ## Klavierkonzert Nr. 3 <sub>c-Moll op. 37</sub>
    *Ludwig van Beethoven*
    Solistin: Paulina Maślanka
    
    ## Overtüre zu "Egmont" <sub>op. 84</sub>
    *Ludwig van Beethoven*

    ## Wellingtons Sieg <sub>op. 91</sub>
    *Ludwig van Beethoven*

    ## Türkischer Marsch <sub>op. 113</sub>
    *Ludwig van Beethoven*

    ## Beethovens Gruss
    *Philip Sparke*
