extends ../../template-blog.pug

block variables
  -
    var title = "Frühlingskonzert - concert de printemps";
    var description = "Das Doppelkonzert der Stadtmusik Hüningen mit dem Musikverein Wollbach";
    var keywords = "Frühlingskonzert, Hüningen, Konzert, Blasmusik, Stadtmusik Hüningen, Huningue, Doppelkonzert";
    var publishedDate = "2017-03-20T00:00:00.000Z";
    var ampLogoUrl = "img/events/spring.jpg";
    var ampLogoWidth = 600;
    var ampLogoHeight = 428;

block content
  :marked
    # Frühlingskonzert in Hüningen im Triangle
    Am Sonntag den 2. April 2017 um 16:00 Uhr spielt der Musikverein ein
    Doppelkonzert mit der Stadtmusik Hüningen im Triangle.

    ## Programm
    ### Hüningen
    - Norma, Vincezo Bellini, arr. Franko Cesarini
    - Le seigneur des anneux, Howard Shore, arr. Victor Lopez
    - The golden age of the xylophone selection, arr. Floyd E. Werle, Solist Guillaume Bitonti
    - Le roi lion, Hans Zimmer, arr. John Higgins
    - Whistle while you work, Frank Churchill

    ### Wollbach
    - Tintin Suite, Dirk Brossé, arr. Johan de Meij
    - Teutonic Tales, Robert Smith, Solisten Luisa Krey (Fagott) und Noah Goehlke (Tuba)
      0. Tanz der Dämonen
      0. Freya - Göttin der Schönheit und Liebe
      0. Der Hammer des Gottes Thor
    - Concerto für Klarinette und Blasorchester, Oscar Navaro, Solistin: Maria Krey

  +image("/img/events/spring.jpg", "Frühling", null, null, 600, 428)
