---
title: "Sauserfahrt mit dem Chanderli 2016"
description: "Der Sauserbummel 2016 durch das Kandertal mit dem Sauser-Express und der Dampfmusik."
keywords: "Sauserbummel, Sauser-Express, Weinprobe, Kandertal, Herbstfest, Degustation, Wein, Sauser"

hasAmp: true
publishedDate: "2016-05-01T00:00:00.000Z"
ampLogoUrl: "img/events/chanderli.jpg"
ampLogoWidth: 600
ampLogoHeight: 380
---

extends ../../template-blog.pug

block content
  :marked
    # Sauserfahrt mit dem Chanderli
    ## Was Sie erwartet ...
    Am Samstag den 15.10.2016 dampft auch in diesem Jahr wieder der "Sauser-Express"
    durch das Kandertal. Bei dem etwas anderen Sauserbummel wird der Zug in Haltingen
    um 14.15 Uhr starten und nach Hammerstein fahren, wo es dann nach einem Fußmarsch
    durch die Rebberge zu einer Weinprobe geht. Für das leibliche Wohl ist anschließend
    in der Kandertalhalle in Wollbach mit Kesselfleisch, Meerrettich und Sauerkraut
    gesorgt. Dort werden Sauser, andere Getränke, sowie Kaffee und Kuchen angeboten.
    Eine Weinlaube lädt zum weiteren Verweilen ein. Für die Unterhaltung ist mit
    zünftiger Blasmusik gesorgt. Um 21.00 Uhr ist dann wieder Abfahrt  in  Wollbach
    mit dem "Chanderli" in Richtung Haltingen.

    *Fahrpreis: 45€ inkl. Weinprobe, Essen (Kesselfleisch) und Programm* (Getränke in
    der Kandertalhalle sind im Preis nicht enthalten). Die Fahrt findet bei jedem
    Wetter, aber nur bei einer Mindestteilnahme von 150 Personen statt. Eine verbindliche
    Anmeldung bis spätestens 24.09.2016 ist daher notwendig.

  p.alert.alert-warning.text-center - ausverkauft -

  :marked
    Bei Nichtteilnahme kann aus organisatorischen Gründen leider keine Rückerstattung
    des Fahrpreises vorgenommen werden.

    Die Beschreibung können Sie auch hier als [Flyer herunterladen][flyer].

    ## Bankverbindung
    | | |
    |----------|----|
    |Empfänger | *Förderverein Musikverein Wollbach* |
    |IBAN      | DE24 6835 0048 0001 0779 99 |
    |Swift BIC | SKLODE66XXX |
    |Bank      | Sparkasse Lörrach-Rheinfelden |

    ## Rückblick
    Hier, auf unserer Website finden Sie [Bilder][bilder] und Informationen wie
    [Presseberichte][berichte] und einen [Rückblick][news] zu der Veranstaltung des
    letzten Jahres.

    [berichte]: berichte.html
    [bilder]: bilder.html
    [news]: news.html
    [flyer]: files/flyer/16_sauserbummel.pdf

  +image("/img/events/chanderli.jpg", "Das Chanderli durch das Kandertal", null, null, 992, 480)
