extends ../../template-blog.pug

block variables
  -
    var title = "1250 Jahre Wollbach";
    var description = "Wollbach feiert sein 1250 jähriges Bestehen mit einem großen Festwochenende.";
    var keywords = "Wollbach, Jubiläum, 1250 Jahre, Kandern, Lörrach";
    var publishedDate = "2017-04-20T00:00:00.000Z";
    var ampLogoUrl = "img/events/1250.png";
    var ampLogoWidth = 600;
    var ampLogoHeight = 411;

block content
  :marked
    # Festwochenende am 20. und 21. Mai
    - Samstag 20. Mai 2017, 19:00 Uhr Festbankett in der Kandertalhalle
    - Sonntag 21. Mai 2017, 10:00 Uhr Festgottesdienst in der Kandertalhalle

    Der Musikverein freut sich, an den Festlichkeiten mitwirken zu können und das
    Jubiläum musikalisch mitgestalten zu können.

  +image("/img/events/1250.png", "1250 Jahre Wollbach", "1250 Jahre Wollbach", "Wollbach feiert sein 1250 jähriges Bestehen", 600, 411)
