extends ../../template-blog.pug

block variables
  -
    var title = "Adventskranz Verkauf";
    var description = "Am Freitag den 25.11. ab 19 Uhr veranstaltet der Förderverein Klingendes C im Forsthof in Wollbach einen Aventskranzverkauf mit musikalischer Begleitungdes Vorstufen- und Jugendorchesters.";
    var keywords = "Advenzkranz, Jugendorchester, Glühwein, Forsthof, Wollbach";
    var publishedDate = "2016-11-23T00:00:00.000Z";
    var ampLogoUrl = "img/events/frosthof.jpg";
    var ampLogoWidth = 525;
    var ampLogoHeight = 349;

block content
  :marked
    Am Freitag den 25.11. ab 19 Uhr veranstaltet der Förderverein
    "Klingendes C" im Forsthof in Wollbach einen Aventskranzverkauf mit
    musikalischer Begleitungdes Vorstufen- und Jugendorchesters.

    Für das leibliche Wohl ist ebenfalls bestens gesorgt, es gibt:
    - Glühwein
    - Kinderpunsch
    - Thüringer Bratwürste
    - Grillwürste

  +image("/img/events/forsthof.jpg", "Adventskranz Verkauf 2016", null, null, 525, 349)

  :marked
    [Flyer des Adventskranz Verkaufs als PDF herunterladen.](/files/flyer/16_adventskranz.pdf)
