extends ../../template-blog.pug

block variables
  -
    var title = "Forsthof Open-Air";
    var subtitle = "im historischen Forsthof in der Oberen Dorfstraße";
    var description = "Musikalischer und kulinarischer Genuss in exklusivem Ambiente.";
    var keywords = "Open-Air, Forsthof, Wollbach, Konzert";
    var publishedDate = "2019-01-21T00:00:00.000Z";
    var ampLogoUrl = "files/flyer/19_forsthof.jpg";
    var ampLogoWidth = 800;
    var ampLogoHeight = 378;

block content
  :marked
    Am Samstag den 22. Juni lädt der Musikverein Wollbach Sie zu einer ganz besonderen Premiere ein:
    **Musikalischer und kulinarischer Genuss in exklusivem Ambiente!**

    Der Innenhof des historischen Forsthauses in der Oberen Dorfstraße bietet die fürstliche
    Kulisse. Gereicht werden edle Weine, exklusives Bier und erlesene Speisen, sowie Erfrischungen
    and Sekt und Cocktailbar.

  +image("/files/flyer/19_forsthof.jpg", "Forsthof Open-Air", null, null, 800, 378)

  :marked
    [Flyer des Forsthof Open-Air als PDF herunterladen.](/files/flyer/19_forsthof.pdf)

    Dazu unterhält Sie der Musikverein Wollbach mit einem abendfüllenden Unterhaltungsprogramm
    mit Musik im swingenden Big Band Stil. Natürlich darf dabei die Gesangsformation nicht
    fehlen, die gemeinsam mit dem Orchester bekannte Melodien intoniert.

    Gönnen Sie sich diesen besonderen Sommerabend mit Familie, Freunden und Bekannten!
    Wir freuen uns auf Ihren Besuch.

    *Bei schlechter Witterung findet die Veranstaltung in der Kandertalhalle statt.*
