---
title: "Adventskranz Verkauf"
description: "Am Freitag den 25.11. ab 19 Uhr veranstaltet der Förderverein Klingendes C im Forsthof in Wollbach einen Aventskranzverkauf mit musikalischer Begleitungdes Vorstufen- und Jugendorchesters."
keywords: "Advenzkranz, Jugendorchester, Glühwein, Forsthof, Wollbach"

hasAmp: true
publishedDate: "2016-11-23T00:00:00.000Z"
ampLogoUrl: "img/events/frosthof.jpg"
ampLogoWidth: 525
ampLogoHeight: 349
---

extends ../../template-blog.pug

block content
  :marked
    Am Freitag den 25.11. ab 19 Uhr veranstaltet der Förderverein
    "Klingendes C" im Forsthof in Wollbach einen Aventskranzverkauf mit
    musikalischer Begleitungdes Vorstufen- und Jugendorchesters.

    Für das leibliche Wohl ist ebenfalls bestens gesorgt, es gibt:
    - Glühwein
    - Kinderpunsch
    - Thüringer Bratwürste
    - Grillwürste

  +image("/img/events/forsthof.jpg", "Adventskranz Verkauf 2016", null, null, 525, 349)

  :marked
    [Flyer des Adventskranz Verkaufs als PDF herunterladen.](/files/flyer/16_adventskranz.pdf)
