---
title: "Kirchenkonzert 2016"
description: "Das Kirchenkonzert mit dem Musikverein Wollbach und dem Verbandsjugendorchester Hochrhein in der ev. Kirche in Kandern."
keywords: "Kirchenkonzert, Kandern, Konzert, Blasmusik, Verbandsjugendorchester Hochrhein"

hasAmp: true
publishedDate: "2016-05-01T00:00:00.000Z"
ampLogoUrl: "img/events/kirche_kandern.jpg"
ampLogoWidth: 600
ampLogoHeight: 480
---

extends ../../template-blog.pug

block content
  :marked
    # Kirchenkonzert in Kandern
    In der evangelischen Stadtkirche Kandern gibt der Musikverein Wollbach und
    das Verbandsjugendorchester Hochrhein am 08. Mai ein Jubiläums-Doppelkonzert.

    Weitere Details zum Kirchenkonzert entnehmen Sie dem [Flyer](/files/flyer/16_kirchenkonzert.pdf).

  +image("/img/events/kirche_kandern.jpg", "Evangelische Stadtkirche Kandern", null, null, 600, 480)
