extends ../../template-blog.pug

block variables
  -
    var title = "Ergebnisse des Ballonwettbewerbes";
    var description = "Die Ergebnisse und Preise des Ballonwettbewerbes am Herbstfest mit Gewinnern, Zielort und Preisen.";
    var keywords = "Ballon, Ballonwettbewerb, Wettbewerb, Herbstfest, Wollbach";
    var publishedDate = "2016-11-30T00:00:00.000Z";
    var ampLogoUrl = "img/events/ballon.jpg";
    var ampLogoWidth = 500;
    var ampLogoHeight = 365;

block content
  +image("/img/events/ballon.jpg", "Ballonwettbewerb am Herbstfest 2016", null, null, 500, 365)

  :marked
    # Erster Platz: Jonathan Weiß
    - Fundort: 4407 Dietach, Österreich, ~510km
    - Preis: Eintrittsgutschein für den Europapark in Rust
    
    # Zweiter Platz: Elias Mutschler
    - Fundort: 5242 Sankt Johann am Walde, Österreich, ~420km
    - Preis: Gutschein für den Landgasthof Krone

    # Dritter Platz: Timo Balb
    - Fundort: 91614 Mönchsroth, ~250km
    - Preis: Gutschein für den Gasthof Bruckmühle

    # Vielen Dank
    Vielen Dank für die zahlreichen Rücksendungen der Karten!
    Die drei Finder der Sieger-Ballons bekommen als kleines Dankeschön unsere CD:
    - Anton Oberbichler, Leonstein
    - Sara Mitterbauer, St. Johann am Walde
    - Marianne Sperl, Mönchsroth
