table#berTab.table.table-condensed.table-bordered.table-striped.table-hover.responsive
  tbody
    tr
      th Datum
      th Thema
      th Quelle
    each bericht in scope.berichte
      tr
        td
          +formatTimespan(bericht.date)
        td
          a.external(href=bericht.url target="_blank") #{bericht.title}
        td
          a.external(href=bericht.srcUrl target="_blank") #{bericht.srcTitle}
