:marked
  Der Musikverein Wollbach feiert sein 150-jähriges Jubiläum mit der Produktion einer CD. Diese wird im Rahmen der Konzerte am 22. und 23. Januar veröffentlicht. Die meisten Titel wurden eigens für diese CD arrangiert und alle werden live erklingen.

  Mit einem Abend voll packendem Sound, groovenden Rythmen und begeisternden Gesangssolisten wollen wir unser Jubiläum gebührend feiern.

+image("/files/flyer/16_jahreskonzert.jpg", "Jahreskonzert 2016", null, null, 593, 700)

:marked
  [Flyer des Jahreskonzertes als PDF herunterladen.](/files/flyer/16_jahreskonzert.pdf)