:marked
  # Kirchenkonzert in Kandern
  In der evangelischen Stadtkirche Kandern gibt der Musikverein Wollbach und
  das Verbandsjugendorchester Hochrhein am 08. Mai ein Jubiläums-Doppelkonzert.

  Weitere Details zum Kirchenkonzert entnehmen Sie dem [Flyer](/files/flyer/16_kirchenkonzert.pdf).

+image("/img/events/kirche_kandern.jpg", "Evangelische Stadtkirche Kandern", null, null, 600, 480)