---
title: "Dampfmusik"
description: "Alles Rund um die Dampfmusik des Musikverein Wollbach."
keywords: "Dampfmusik, Sauserbummel, Sauserexpress"

navigation: "top"
---

extends ../template.pug

block content
  :marked
    Die Wollbacher Dampfmusik wurde 2010 anlässlich der Sauserfahrt mit dem
    Chanderli gegründet. 9 begeisterte Blechbläser und ein Schlagzeuger
    begleiten seither jedes Jahr den Sauserbummel und unterhalten die Gäste mit
    ihrem abwechslungsreichen Reportoir. Für jeden Anlass haben sie etwas dabei.

  +image("/img/dampfmusik/dampfmusik.jpg",
         "Dampfmusik 2015",
         "Dampfmusik im Chanderli",
         "v.L. Dominik Heieck, Anika Gresslin, Ralf Ernst, Moritz Merkert, Michael Bierwirth, Matthias Braun, Timo Braun, Noah Goehlke, Johannes Krey, Sven Gut")

  +youtube("https://www.youtube.com/embed/5S3V1TiFywQ?rel=0")
  +youtube("https://www.youtube.com/embed/dthOc66KttU?rel=0")
