---
title: "Dirigent"
description: "Der Dirigent des Musikverein Wollbach: Oliver Hauser."
keywords: "Dirigent, musikalische Leitung, Leitung, Oliver Hauser"

navigation": "top"
---

extends ../template.pug

block content
  +image("/img/personen/dirigent.jpg",
         "Unser Dirigent - Oliver Hauser",
         "Oliver Hauser",
         "Seit 1996 können wir uns glücklich schätzen, mit Oliver Hauser einen ausgezeichneten Dirigenten bei uns in Wollbach zu haben")

  :marked
    # Oliver Hauser ...
    ... ist Experte für Musikvermittlung. Er knüpft begeisternd an die Lebens-
    und Erfahrungswelten junger Menschen an und bringt sie spielerisch in
    Berührung mit den inhaltlichen Themen der Musik und den Lebenswelten der
    Komponisten.

    Schulmusikstudium für die Sekundarstufe I an der Pädagogischen Hochschule
    Freiburg im Breisgau. Klavierunterricht bei Prof. Maria Rapp und Prof.
    Michael Leuschner. Daneben Ausbildung zum Dirigenten für Sinfonisches
    Blasorchester beim Bund Deutscher Blasmusikverbände (BDB).
    Dirigierunterricht unter anderem bei Prof. Felix Hauswirt, Basel. Zweites
    Schulmusikstudium für die Sekundarstufe I an der Zürcher Hochschule der
    Künste. Nachdiplomstudium und MAS in Musikvermittlung &amp;
    Konzertpädagogik an der Zürcher Hochschule der Künste. Seit 1999
    Musiklehrer an der Sekundarschule Bischofszell (Schweiz) und
    künstlerischer Leiter zahlreicher Musiktheaterprojekte für Jugendliche.
    Seit 2011 freiberuflicher Musikvermittler und Konzertpädagoge. Erfolgreiche
    Zusammenarbeit u.a. mit dem Zürcher Kammerorchester, Contrapunkt Sankt
    Gallen, dem Sinfonieorchester Sankt Gallen, der Oper Schloss Hallwyl, sowie
    dem Feldkirch Festival.

  <p style="text-align: right;"><a href="mailto:oliver.hauser@mv-wollbach.de">Eine eMail an Oliver schreiben.</a></p>
