---
title: "Willkommen beim Musikverein Wollbach"
description: "Die Website des Musikverein Wollbach 1866 e.V.. Alles Rund um unsere Auftritte, Jugendarbeit, Besetzung, Bilder und Einblicke in die Vereinshistorie."
keywords: "Wollbach, Musikverein, Musikverein Wollbach 1866 e.V., Verein, Musik, Orchester, Blasmusik, Instrument, Jugendarbeit, Konzert"

hideBreadcrumb: true
---

extends ../template.pug

block header
  header.container
    .row
      #mv-logo.col-md-6.col-xs-12
        +image("/img/slider/logo.png", "Das neue Logo des Musikvereins Wollbach")
      .col-md-1.hidden-xs
      .col-md-5.col-xs-12
        a(href="blog_2016-still-feeling-good.html")
          +image("/img/events/cd.jpg", "Still Feelin' Good")

block content
  #startCarousel.carousel.slide
    ol.carousel-indicators.hidden-xs.visible-md
      li.active(data-target="#startCarousel" data-slide-to="0")

    .carousel-inner
      .item.active
        img.fill(src="/img/jahreskonzerte/konzert_2015.jpg" alt="Der Musikverein vor dem Jahreskonzert 2015")
        .carousel-caption
          h2 Das neue Logo des Musikvereins Wollbach

    a.left.carousel-control(href="#startCarousel" data-slide="prev")
      span.icon-prev
    a.right.carousel-control(href="#startCarousel" data-slide="next")
      span.icon-next

  .row
    .col-md-6.col-xs-12.tile
      a.image-container(href="blog_2016-sauserfahrt.html" style="background-image:url(./img/events/chanderli.jpg);")
        .blur
          h3.title
            | Sauserfahrt mit dem Chanderli
          .text
            | Am 15. Oktober dampft der "Sauser-Express" auch dieses Jahr wieder durch das Kandertal...

block pageScripts
  script
    include ../js/index.js