---
title: "Kontakt"
description: "Ideen, Wünsche, Kritik oder Anregungen? Nehmen Sie Kontakt auf mit dem Musikverein Wollbach."
keywords: "Kontakt, Kontaktformular"

navigation: "footer"
---

extends ../template.pug

block content
  #contact_form.row
    .col-md-12
      form#feedbackForm(role='form', data-toggle='validator', data-disable='false')
        .form-group
          label.control-label(for='name') Name
          .input-group
            input#name.form-control(type='text', name='name', placeholder='Ihr Name', required)
            span.input-group-addon
          span.help-block(style='display: none;') Bitte geben Sie Ihren Namen an.
        .form-group
          label.control-label(for='email') e-Mail Adresse
          .input-group
            input#email.form-control(type='email', name='email', placeholder='Ihre e-Mail Adresse', required)
            span.input-group-addon
          span.help-block(style='display: none;') Bitte geben Sie eine gültige e-Mail Adresse für evtl. Rückfragen an.
        .form-group
          label.control-label(for='message') Nachricht
          .input-group
            textarea#message.form-control(rows='5', cols='30', name='message', placeholder='Ihre Nachricht' required)
            span.input-group-addon
        .form-group.has-feedback
          .g-recaptcha(data-sitekey='6LcuIhoTAAAAAJP9auarRgUhtg7DIz-JTmRdYOqA')
          span.help-block(style='display: none;') Bitte bestätigen Sie, dass Sie kein Bot sind.
        span.help-block(style='display: none;') Bitte geben Sie einen Sicherheits code ein.
        button#feedbackSubmit.btn.btn-primary.btn-lg(type='submit', data-loading-text='Sende...', style='display: block; margin-top: 10px;') Absenden

  script(src='https://www.google.com/recaptcha/api.js')

block pageScripts
  script
    include ./js/kontaktformular.js