---
title: "News"
description: "Vergangene Konzerte, Feste und sonstige Anlässe des Musikverein Wollbachs werden hier kurz zusammengefasst."
keywords: "Berichte, News, Zusammenfassungen, Vergangene Events, Nachrichten"

navigation: "top"
---

extends ../template.pug

block content
  - var years = Object.keys(scope.news).sort(function(a, b) { return b-a; });
  +renderTabs(years)

  .tab-content
    - for (var i = 0, year = years[i]; i < years.length; i++, year = years[i])
      .tab-pane.fade(id=year class=(i===0 ? 'active in' : ''))
        - for (j = 0, item = scope.news[year][j]; j < scope.news[year].length; j++, item = scope.news[year][j])
          h3 #{item.title}
          if item.image
            +image(item.image.src, item.image.title, item.image.title, item.image.caption)
          if item.video
            +youtube(item.video.src)
          != marked(item.content || "")
