---
title: "News"
description: "Vergangene Konzerte, Feste und sonstige Anlässe des Musikverein Wollbachs werden hier kurz zusammengefasst."
keywords: "Berichte, News, Zusammenfassungen, Vergangene Events, Nachrichten"

navigation: "top"
---

extends ../template.pug

block content
  -
    var news = require("./assets/pages/data/news.json");
    var years = Object.keys(news).sort(function(a, b) { return b - a; });

  +renderTabs(years)

  .tab-content
    each year, index in years
      .tab-pane.fade(id=year class=(index === 0 ? 'active in' : ''))
        each item in news[year]
          h3 #{item.title}
          if item.image
            +image(item.image.src, item.image.title, item.image.title, item.image.caption)
          if item.video
            +youtube(item.video.src)
          != marked(item.content || "")
