:marked
  Seit Februar 2015 haben wir ein neues Vorstufenorchester. In diesem Orchester spielen 10 begeisterte Jungmusiker im Alter zwischen  9 und 14 Jahren. Das Vorstufenorchester wird von Maria Krey geleitet. Jeden Donnerstag von 17.30 Uhr bis 18.30 Uhr sind sie beim Proben im Stübli der Kandertalhalle zu finden.

+image("/img/vorstufe/vorstufenorchester.jpg", "Vorstufenorchester am Konzert im Mai 2015", "Vorstufenorchester am Konzert im Mai 2015", "Das Vorstufenorchester an ihrem ersten Konzert im Mai 2015. ")
<p style="text-align: center;"><em>v.l. vorne: Laura Sinz, Kim Strohmeier, Lilly Geling, Lilly Müller, Antonia Müller, Anna Sieglin</em><br /><em>v.l. hinten: Sven Gut, Joseph Willis, Lina Müller, Madleina Muchenberger, Josepha Brehm, Maria Krey</em></p>

:marked
  # Die Dirigentin

+image("/img/vorstufe/dirigentin_vorstufenorchester.jpg", "Dirigentin des Vorstufenorchesters - Maria Krey", "Dirigentin des Vorstufenorchesters - Maria Krey", "Maria Krey")
