$black: #000;
$body-bg: #280045;

$gray-base: #E0E0E0;
$gray: #A0A0A0;
$gray-light: #666;
$gray-lighter: #333;
$gray-lightest: #1B1B1B;

$highlight-color: #b43e6e;
$secondary-highlight-color: #668fc7;

$text-color: $gray-base;
$text-color-inactive: $gray-light;
$gray-border-color: $gray-lighter;
$gray-light-border-color: $gray-lighter;

$font-family: 'Open Sans', Arial, sans-serif;
$font-size-larger: 18px;
$font-size-large: 16px;
$font-size-base: 14px;
$font-size-small: 12px;

$line-height-base: 1.428571429;
$line-height-extra: 1.1 * $line-height-base;

// structure (Slightly larger header for dramatic effect)
$top-nav-height: 50px;
$header-min-height: 250px; // Increased for more impact
$header-max-width: 1200px;
$content-max-width: 1100px;

$mobile-max-width: 768px;

body {
  background-color: $body-bg;
  background-image: linear-gradient(
                  135deg,
                  rgba(255, 0, 153, 0.1) 0%,
                  $body-bg 30%,
                  $body-bg 60%,
                  rgba(0, 255, 255, 0.1) 100%
  );
}
