@import 'global-variables';

.mail-popup {
  display: none;
  box-shadow: 4px 10px 10px 10px $gray;
  background: $body-bg;
  clear: left;
  padding: 50px 15px;

  &.visible {
    z-index: 1000;
    display: block;
    position: absolute;
    width: 50vw;
    top: 50%;
    left: 25%;
  }

  @include breakpoint(0, $mobile-max-width) {
    &.visible {
      width: calc(100vw - 50px);
      top: $top-nav-height;
      left: 0;
      position: fixed;
      z-index: 2;
    }
  }

  .dont-show {
    z-index: 3;
    position: absolute;
    bottom: 16px;
    right: 16px;
  }

  .close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 32px;
    height: 32px;
    opacity: .3;
    z-index: 3;

    &:hover {
      opacity: 1;
    }

    &::before,
    &::after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: $gray-base;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
