mixin renderTabs(tabs)
  ul.nav.nav-tabs.nav-justified
    each tab, index in tabs
      if index < 5
        li(role="presentation" class=(index === 0 ? "active" : "") + (index > 1 ? "hidden-xs" : ""))
          a(data-toggle="tab" href="#" + tab) #{tab}
    if tabs.length > 1
      li.dropdown(class=(tabs.length > 5 ? "" : tabs.length > 2 ? "visible-xs" : "hidden"))
        a.dropdown-toggle(data-toggle="dropdown" href="#")
          | mehr ...
          span.caret
        ul.dropdown-menu
          each tab, index in tabs
            if index > 1
              li(role="presentation" class=(index === 0 ? "active" : "") + (index < 5 ? "visible-xs" : ""))
                a(data-toggle="tab" href="#" + tab) #{tab}
