mixin tile(file, image, title, text)
  .tile
    a.unstyled.image-container(href=`${file}.html` style=`background-image:url(${image});`)
      .blur
        .tile-content
          if title
            h3.title= title
          if block
            block
          else
            .text= text
