{{ with $.Site.Data.bilder }}

{{ $years := slice }}
{{ range $key, $v := . }}
  {{ $years = $years | append $key }}
{{ end }}
{{ $activeYear := (index (last 1 $years) 0) }}

{{ partial "tabs" (dict "tabs" (sort $years "value" "desc") "active" $activeYear) }}

<script>
  galleries = {{- . -}};
</script>

<div class="mvw-gallery-overview tab-content">
  {{ range $year, $galleries := . }}
    <div class="tab-pane{{ if (eq $year $activeYear) }} active{{ end }}" id="{{ $year }}">
       {{ range $title, $gallery := . }}
        <div class="mvw-gallery-container">
          <div class="mvw-gallery">
            <div class="ratio-content">
              <img class="preview"
                   src="{{ printf "%s=w200-h200" (index $gallery.i 0).u }}"
                   alt="{{ $title }}"
                   data-year="{{ $year }}"
                   data-gallery="{{ $title }}" />
              <span class="caption">{{ $title }}</span>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  {{ end }}
</div>
{{ end }}
