{{- with $.Site.Data.register.mitglieder -}}

{{ $register := . }}
<table class="mvw-register-table responsive" aria-label="Register">
  <thead>
  <tr>
    <th scope="col">Registerbild</th>
    <th scope="col">Musiker</th>
  </tr>
  </thead>
  <tbody>
  {{ range  $i, $reg := (slice "Querflöte" "Oboe" "Klarinette" "Fagott" "Altsaxophon" "Tenorsaxophon" "Baritonsaxophon" "Trompete" "Horn" "Posaune" "Euphonium" "Tuba" "Klavier" "Gitarre" "Schlagzeug") }}
    <tr>
      <td>
        <figure>
          {{ $src := printf "img/%s_1.jpg" (replace (lower $reg) "ö" "oe") }}
          {{- if $.Page.Resources.GetMatch $src  -}}
            {{- $isAboveTheFold := lt $i 3 -}}
            {{ partial "image" (dict "Page" $.Page "src" $src "alt" $reg "title" $reg "isAboveTheFold" $isAboveTheFold "sizes" "(max-width: 480px) 480px, 768px") }}
          {{- else -}}
            {{ with $.Page.Resources.GetMatch "img/fallback.jpg"}}
              <img src="{{ .RelPermalink }}" alt="Leider kein Bild vorhanden" title="Leider kein Bild vorhanden" />
            {{- end -}}
          {{- end -}}
        </figure>
      </td>
      <td>
        <h2>{{ . }}</h2>
        {{ range (sort (where $register "register" "eq" .) "familyName") }}
          <p>{{ .name }} {{ .familyName }}</p>
        {{ end }}
      </td>
    </tr>
  {{ end }}
  </tbody>
</table>
{{end}}
