{{ with (.Page.Resources.GetMatch "rueckblick.json" | transform.Unmarshal).rueckblick }}

{{ $keywords := slice }}
{{ $years := slice }}

{{ range $year, $records := . }}
  {{ $years = $years | append $year }}
  {{ range $records }}
    {{ with .keywords }}
      {{ $keywords = $keywords | append . | uniq }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $activeYear := (index (last 1 $years) 0) }}

{{ partial "filter" (dict "keywords" (sort $keywords "value" "asc")) }}
{{ partial "tabs" (dict "tabs" (sort $years "value" "desc") "active" $activeYear) }}

<div class="tab-content">
  {{ range $year, $records := . }}
  <div class="tab-pane{{ if (eq $year $activeYear) }} active{{ end }}" id="{{ $year }}">
    {{ range $records }}
      <div class="entry">
        {{ with .keywords }}
          <div class="keywords hidden">
            {{ range . }}
              <span class="keyword">{{ . }}</span>
            {{ end }}
          </div>
        {{ end }}

        <h2>
          {{ if .starttime }}
            {{ partial "timespan" (dict "start" .starttime "end" .endtime "schema" false) }}
            &nbsp;-&nbsp;
          {{ end }}
          {{ .title }}
        </h2>

        {{ with .images }}
          <div class="image-gallery">
            {{ range . }}

              <figure>
                {{ partial "image" (dict "Page" $.Page "src" .src "alt" .title "title" .title) }}
                {{ with .caption }}
                  <figcaption>{{ . }}</figcaption>
                {{ end }}
              </figure>
            {{ end }}
          </div>
        {{ end }}


        {{ with .video }}
          {{- partial "youtube-dsgvo" (dict "hash" .src) -}}
        {{ end }}

        {{ .content | markdownify }}

        {{ with .berichte }}
          <div class="berichte">
            <h3>Presseberichte</h3>
            <ul>
              {{ range . }}
                {{ $formattedDate := (time .date).Format "02.01.2006" }}
                <li>
                  <a href="{{ .url }}" target="_blank" rel="noopener">
                    {{ .title }}
                  </a>
                  <small>({{ .srcTitle }}, {{ $formattedDate }})</small>
                </li>
              {{ end }}
            </ul>
          </div>
        {{ end }}

      </div>
    {{ end }}
  </div>
  {{ end }}
</div>

{{ end }}
