{{- $height := (.Get "height") -}}
{{- $unit := (.Get "unit") -}}
{{- $ordinal := .Ordinal -}}
{{- $items := (.Get "items") | default 1 -}}
{{- $images := (split (.Get "images") ",") -}}

<div id="carousel{{ .Ordinal }}" class="carousel" data-duration="{{ .Get `duration` }}">
  <ul>
    {{ range $index, $image := $images }}
      <li id="c{{ $ordinal }}_slide{{ add $index 1}}" style="min-width: calc(100%/{{ $items }}); padding-bottom: {{ $height }}{{ $unit }};">
        {{ $isAboveTheFold := lt $index 1 }}
        {{- $img := $.Page.Resources.GetMatch $image -}}
        {{ partial "image" (dict "Page" $.Page "src" $image "alt" (strings.TrimSuffix (path.Ext $img.Name) $img.Name) "isAboveTheFold" $isAboveTheFold) }}
      </li>
    {{ end }}
  </ul>
  <div class="prev">&lsaquo;</div>
  <div class="next">&rsaquo;</div>
</div>
