{{- $images := split (.Get "images") "," | shuffle -}}

<div class="slider" id="slider">
  <ol class="slider-items">
    {{ range $i, $src := $images }}

    {{- $img := "" -}}
    {{- if $.Page.Resources.GetMatch $src -}}
      {{- $img = $.Page.Resources.GetMatch $src -}}
    {{- end -}}

    {{- $originalWidth := $img.Width -}}

    {{- $r480Webp := cond (ge $img.Width 480) ($img.Resize "480x webp q85 lanczos" | fingerprint) $img -}}
    {{- $r768Webp := cond (ge $img.Width 768) ($img.Resize "768x webp q85 lanczos" | fingerprint) nil -}}
    {{- $r1100Webp := cond (ge $img.Width 1100) ($img.Resize "1100x webp q85 lanczos" | fingerprint) nil -}}

    {{ $class := replaceRE "[^a-zA-Z0-9]" "" $r480Webp.Data.Integrity }}

      <li class="slider-item">
        <style>
          .slider-item .fill.{{ $class }} {
            --background-image: url('{{ $r480Webp.RelPermalink }}');

            {{ if $r768Webp }}
              @media (min-width: 481px) {
                --background-image: url('{{ $r768Webp.RelPermalink }}');
              }
            {{end}}

            {{ if $r1100Webp }}
              @media (max-width: 961px) {
                --background-image: url('{{ $r1100Webp.RelPermalink }}');
              }
            {{ end }}
          }
        </style>
        <div class="fill {{ $class }}"
             style="background-image: var(--background-image);">
        </div>
      </li>
    {{ end }}
  </ol>
  <a class="unstyled left slider-control">
    <span class="icon-prev">&lt;</span>
  </a>
  <a class="unstyled right slider-control">
    <span class="icon-next">&gt;</span>
  </a>
</div>
