<!-- Groups content according to content section.-->
{{ range .Site.Pages.GroupBy "Section" }}
  <!-- Checks for existence of _index.md for a section; if available, pulls from "title" in front matter -->
  {{ with $.Site.GetPage "section" .Key }}
    <h2>{{.Title}}</h2>
  {{ else }}
    <!-- If no _index.md is available, ".Key" defaults to the section title and filters to title casing -->
    <h2>{{ .Key | title }}</h2>
  {{ end }}
  <ul>
    {{ range .Pages.ByWeight.ByTitle }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>
{{ end }}
