$navbar-height: 50px;
$logo-fill-color: #eee;
$highlight-color: #07b;
$secondary-highlight-color: #4a4a4a;
// $highlight-color: #D30630;
// $third-highlight-color: #A9852A;

html,
body {
  height: 100%;
}

body {
  padding-top: $navbar-height;
}

h1 {
  color: $highlight-color;
}

h2 {
  color: $secondary-highlight-color;
}

.navbar-brand {
  padding: 5px 0;

  svg {
    height: $navbar-height - 12px; // - padding (10) - random 2px to avoid early collapse of navbar

    .mvw-logo {
      fill: $logo-fill-color;
    }
  }
}

.img-portfolio {
  margin-bottom: 30px;
}

.img-hover {
  &:hover {
    opacity: .8;
  }
}

.img-center {
  margin: 0 auto;
}

.img-responsive {
  max-height: calc(75vh - #{$navbar-height});
}

.img {
  .caption {
    font-style: italic;
    text-align: center;
  }
}

blockquote {
  font-size: 14px;
}

// Footer Styles

.mvw-footer {
  margin-top: 50px;
}
