/* Responsive Table */

table.responsive {
  border-collapse: collapse;
}

@media not screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  #vorMainTable tr {
    th:nth-child(2) {
      display: none;
    }
    &:first-child td:nth-child(2) {
      border-top-width: 0 !important;
    }
    td {
      &:nth-child(2) {
        border-width: 0 !important;
        float: left;
        width: 100%;
        border-top-width: 1px !important;
      }
      &:nth-child(3) {
        float: left;
        clear: left;
        border: 0 solid transparent !important;
      }
    }
  }
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* First column bold and without border bottom */
  tr td {
    &:first-child {
      font-weight: bold;
    }
    border-bottom-width: 0 !important;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  table.responsive {
    width: 100%;
    min-width: 200px;

    thead,
    tbody,
    th,
    td,
    tr {
      /* Force table to not be like tables anymore */
      display: block;
    }

    th {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
    }

    tr:nth-of-type(even) {
      background-color: #eee;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 0 !important;

      :before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
      }
    }

    img {
      max-width: calc(100vw - 50px) !important;
    }
  }
}
