table {
  &.responsive {
    border-collapse: collapse;
  }
}

@media not screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .mvw-managing-committee-table {
    tr {
      th {
        &:nth-child(2) {
          display: none;
        }
      }

      &:first-child {
        td {
          :nth-child(2) {
            border-top-width: 0 !important;
          }
        }
      }

      td {
        &:nth-child(2) {
          border-top-width: 1px !important;
          border-width: 0 !important;
          float: left;
          width: 100%;
        }

        &:nth-child(3) {
          border: 0 solid transparent !important;
          clear: left;
          float: left;
        }
      }
    }
  }
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  // First column bold and without border bottom
  tr {
    td {
      border-bottom-width: 0 !important;

      &:first-child {
        font-weight: bold;
      }
    }
  }

  // Hide table headers (but not display: none;, for accessibility)
  table {
    &.responsive {
      min-width: 200px;
      width: 100%;

      thead,
      tbody,
      th,
      td,
      tr {
        // Force table to not be like tables anymore
        display: block;
      }

      th {
        left: -9999px;
        position: absolute;
        top: -9999px;
      }

      tr {
        border: 1px solid #ccc;

        :nth-of-type(even) {
          background-color: #eee;
        }
      }

      td {
        // Behave  like a 'row'
        border: 0;
        border-bottom: 1px solid #eee;
        padding-left: 0 !important;
        position: relative;

        ::before {
          // Now like a table header
          // Top/left values mimic padding
          left: 6px;
          padding-right: 10px;
          position: absolute;
          top: 6px;
          white-space: nowrap;
          width: 45%;
        }
      }

      img {
        max-width: calc(100vw - 50px) !important;
      }
    }
  }
}
