//$highlight-color :#D30630;
$highlight-color :#07B;
$secondary-highlight-color: #4A4A4A;
$navbar-height: 50px;

/* Global Styles */

html,
body {
  height: 100%;
}

body {
  padding-top: $navbar-height;
}

h1 {
  color: $highlight-color;
}

h2 {
  color: $secondary-highlight-color;
}

.navbar-brand {
  padding: 5px 0;
}

.navbar-brand img {
  height: $navbar-height - 10px;
}

.img-portfolio {
  margin-bottom: 30px;
}

.img-hover:hover {
  opacity: 0.8;
}

.img-center {
  margin: 0 auto;
}

.img-responsive {
  max-height: calc(75vh - #{$navbar-height});
}

.img .caption {
  font-style: italic;
  text-align: center;
}

blockquote {
  font-size: 14px;
}

/* Start */

#mv-logo {
  padding: 5px 0;
}

.image-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 300px;
  display: block;
}

.tile {
  a:hover {
    text-decoration: none;
  }
  .title,
  .text {
    color: #fff;
  }

  font-weight: lighter;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 30px;
}

.blur {
  height: inherit;
  padding: 20px;
  background: rgb(50,50,50); /* for IE */
  background: rgba(34,34,34,0.55);
}

.blur:hover {
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
}

/* Home Page Carousel */

.carousel {
  .carousel-caption {
    display: none;
    // color: $highlight-color;
  }

  .fill {
    max-height: 50vh;
    margin: 0 auto;
  }
}

/* Vorstand */

#vorMainTable {
  img {
    max-width: 30vw;
    max-height: 400px;
    margin: 0 auto;
  }
}

/* Register */

#mitRegTab td {
  padding-left: 10px;

  &:first-child {
    padding-left: 0;
  }
}

/* Gallery */

#overview {
   &>.row>div {
      padding-left: 5px;
      padding-right: 5px;
    }

  .gallery {
    max-width: 250px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    img {
      -moz-transition: all 3s ease-in-out;
      -o-transition: all 3s ease-in-out;
      -webkit-transition: all 3s ease-in-out;
      transition: all 3s ease-in-out;

      &:hover {
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
      }
    }
  }

  .preview {
    width: 100%;
  }

  .caption {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    color: #FFF;
    background-color: #333;
    text-align: center;
    opacity: 0.9;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  .caption:hover {
    white-space: normal;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -ms-text-overflow: initial;
    -o-text-overflow: initial;
    text-overflow: initial;
  }
}

/* Footer Styles */

#footer {
  margin-top: 50px;
}

/* Responsive Table */

table.responsive {
  border-collapse: collapse;
}

@media not screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  #vorMainTable tr {
    th:nth-child(2) {
      display: none;
    }
    &:first-child td:nth-child(2) {
      border-top-width: 0 !important;
    }
    td {
      &:nth-child(2) {
        border-width: 0 !important;
        float: left;
        width: 100%;
        border-top-width: 1px !important;
      }
      &:nth-child(3) {
        float: left;
        clear: left;
        border: 0 solid transparent !important;
      }
    }
  }
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* First column bold and without border bottom */
  tr td {
    &:first-child {
      font-weight: bold;
    }
    border-bottom-width: 0 !important;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  table.responsive {
    width: 100%;
    min-width: 200px;

    thead,
    tbody,
    th,
    td,
    tr {
      /* Force table to not be like tables anymore */
      display: block;
    }

    th {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
    }

    tr:nth-of-type(even) {
      background-color: #eee;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 0 !important;

      :before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
      }
    }

    img {
      max-width: calc(100vw - 50px) !important;
    }
  }
}
