/*$highlight-color :#D30630;*/
$highlight-color :#07B;
$secondary-highlight-color: #4A4A4A;
/*$third-highlight-color: #A9852A;*/
$navbar-height: 50px;

/* Global Styles */

html,
body {
  height: 100%;
}

body {
  padding-top: $navbar-height;
}

h1 {
  color: $highlight-color;
}

h2 {
  color: $secondary-highlight-color;
}

.navbar-brand {
  padding: 5px 0;
}

.navbar-brand svg {
  height: $navbar-height - 10px;
  .mvw-logo {
    fill: #eee;
  }
}

.img-portfolio {
  margin-bottom: 30px;
}

.img-hover:hover {
  opacity: 0.8;
}

.img-center {
  margin: 0 auto;
}

.img-responsive {
  max-height: calc(75vh - #{$navbar-height});
}

.img .caption {
  font-style: italic;
  text-align: center;
}

blockquote {
  font-size: 14px;
}

/* Footer Styles */

#footer {
  margin-top: 50px;
}

@import "index";

/* Vorstand */

#vorMainTable {
  img {
    max-width: 30vw;
    max-height: 400px;
    margin: 0 auto;
  }
}

/* Register */

#mitRegTab td {
  padding-left: 10px;

  &:first-child {
    padding-left: 0;
  }
}

@import "gallery";
@import "responsive-tables";
@import "print"
