+image("/img/jahreskonzerte/konzert_2015.jpg", "Jahreskonzert 2015", "Der Musikverein Wollbach vor dem Jahreskonzert 2015", "Der Musikverein vor dem Jahreskonzert 2015")

:marked
  # Still feeling good
  Unser diesjähriges Jahreskonzert im 150. Jahr des bestehens des Musikvereins Wollbach steht unter dem Motto "Still Feeling Good" und findet am 22. und 23. Januar 2016 statt.

  [Weitere Informationen sowie den Flyer finden sie hier...][blog_jahreskonzert]

  [blog_jahreskonzert]: blog_2016-jahreskonzert.html