-
  function groupBy(array , f)
  {
    var groups = {};
    array.forEach( function( o )
    {
      var group = f(o); // note(ml): use to sort by groups of properties: JSON.stringify(f(o));
      groups[group] = groups[group] || [];
      groups[group].push( o );
    });
    return groups;
  }

  var groupedRegisters = groupBy(scope.register, function(person) {
    return person.register; // note(ml): can also group by array of properties! => change group name
  });

table#mitRegTab.responsive
  tbody
    - var registerOrder = ["Querflöte", "Oboe", "Klarinette", "Fagott", "Altsaxophon", "Tenorsaxophon", "Baritonsaxophon", "Trompete", "Horn", "Posaune", "Euphonium", "Tuba", "Klavier", "Gitarre", "Schlagzeug"];
    - for (var i = 0, registerTitle = registerOrder[i]; i < registerOrder.length; i++, registerTitle = registerOrder[i])
      - var currentRegister = groupedRegisters[registerTitle];
      if currentRegister
        tr
          td
            - var imageUrl = "/img/register/" + registerTitle.toLowerCase().replace("ö", "oe") + "_1.jpg";
            +image(imageUrl, registerTitle)
          td
            - var persons = currentRegister.sort(function(a, b) { return a.familyName.localeCompare(b.familyName);});
            - for (var j = 0, person = persons[j]; j < persons.length; j++, person =  persons [j])
              p #{person.name} #{person.familyName}

script.
  var register = {
      "Altsaxophon": ["altsaxophon_1.jpg", "altsaxophon_2.jpg", "saxophon_1.jpg"],
      "Baritonsaxophon": ["baritonsaxophon_1.jpg", "baritonsaxophon_2.jpg", "saxophon_1.jpg"],
      "Euphonium": ["euphonium_1.jpg", "euphonium_2.jpg"],
      "Fagott": ["fagott_1.jpg", "fagott_2.jpg"],
      "Gitarre": ["gitarre_1.jpg", "gitarre_2.jpg"],
      "Horn": ["horn_1.jpg", "horn_2.jpg"],
      "Klarinette": ["klarinette_1.jpg", "klarinette_2.jpg"],
      "Klavier": ["klavier_1.jpg", "klavier_2.jpg"],
      "Posaune": ["posaune_1.jpg", "posaune_2.jpg"],
      "Querflöte": ["querfloete_1.jpg", "querfloete_2.jpg"],
      "Schlagzeug": ["schlagzeug_1.jpg", "schlagzeug_2.jpg"],
      "Tenorsaxophon": ["tenorsaxophon_1.jpg", "tenorsaxophon_2.jpg", "saxophon_1.jpg"],
      "Trompete": ["trompete_1.jpg", "trompete_2.jpg"],
      "Tuba": ["tuba_1.jpg", "tuba_2.jpg"]
  }
   
  function isElementInViewport (el) {
      var rect = el.getBoundingClientRect();
      return rect.bottom >= 0
               && rect.right >= 0
               && rect.top <= (window.innerHeight || document.documentElement.clientHeight)
               && rect.left <= (window.innerWidth || document.documentElement.clientWidth);
  }
   
  function tryReplaceImage($images) {
    var $image = $($images[Math.floor(Math.random() * $images.length)]);
    if(isElementInViewport($image[0])) {
      var registerImageUrls = register[$image.attr("title")].filter(function(url) {
        return !$image.attr("src").endsWith(url);
      });
      $image.fadeOut('fast', function () {
          $image.attr("src", "/img/register/" + registerImageUrls[Math.floor(Math.random() *   registerImageUrls.length)]);
          $image.fadeIn('slow');
      });
      return true;
    }
    return false;
  }
   
  $(function() {
    var $images = $("#mitRegTab img");
    setInterval(function() {
      while(!tryReplaceImage($images));
    }, 8000);
  });