// todo: use a json file with group : { url, title }

:marked
  # Befreundete Vereine
  Wir danken den Schweizer Musikgesellschaften ganz herzlich für die vergangen Jahre und hoffen auf ein noch langes, erfolgreiches Fortbestehen dieser Freundschaft.

  <a class="mvw-verein" href="http://www.mgbannwil.ch/" target="_blank">Musikgesellschaft Bannwil</a>

  <a class="mvw-verein" href="http://www.ostmusik.ch/" target="_blank">Musikgesellschaft Sankt Gallen Ost</a>

  # Musikvereine
  <a class="mvw-verein" href="http://www.stadtmusik-loerrach.de/" target="_blank">Stadtmusik Lörrach</a>

  <a class="mvw-verein" href="http://www.musikverein-fahrnau.de/" target="_blank">Musikverein Fahrnau</a>

  <a class="mvw-verein" href="http://www.stadtmusik-kandern.de" target="_blank">Stadtmusik Kandern</a>

  <a class="mvw-verein" href="http://www.mvtannenkirch.de/" target="_blank">Musikverein Tannenkirch</a>

  <a class="mvw-verein" href="http://www.mv-willaringen.de.vu/" target="_blank">Musikverein Willaringen</a>

  <a class="mvw-verein" href="http://www.musikvereinbinzen.de/" target="_blank">Musikverein Binzen</a>
  
  # Verbände
  <a class="mvw-verein" href="http://www.musik-verband.de/" target="_blank">AMV</a>
  Der Alemannische Musikverband, hier machen unter anderem unsere Jungmusiker Ihre Jungmusikerleistungsabzeichen

  <a class="mvw-verein" href="http://www.blasmusikverbaende.de/" target="_blank">BDB</a>
  Bund Deutscher Blasmusikverbände - der Dachverband

  # Sonstiges
  <a class="mvw-verein" href="http://www.kandertalbahn.de/" target="_blank">Kandertalbahn</a>
  Die Homepage des "Chanderlis"

  <a class="mvw-verein" href="http://www.musical-bruggfeld.ch/" target="_blank">Musical Bruggfeld</a>

  <a class="mvw-verein" href="http://www.blasmusik-service.de/"  target="_blank">Blasmusik Service, Studio 80</a>
  
  <a class="mvw-verein" href="http://www.halleonard.com/" target="_blank">Musikverlag</a>
  Von hier beziehen wir unsere Noten
