---
title: "Orchester-Coach"
description: "Der Orchester Coach des Musikverein Wollbach: Jhon Hernandez."
keywords: "Orchester Coach, Coach, Jhon Hernandez"

navigation: "top"
---

extends ../../template.pug

block content
  +image("/img/personen/jhon.jpg", "Jhon Hernandez")

  :marked
    # Jhon Hernandez
    Ist eine weitere Bereicherung für den Musikverein. Er fungiert als
    Orchester-Coach und spielt dazu noch E-Bass und Cello im Orchester.

    Seine musikalische Karriere begann auf der Insel Margarita in Venezuela, in
    der Musikschule Luis Manuel Gutiérrez. 2000 ging er nach Caracas um Cello
    zu studieren.

    Ab 2002 spielte er beim Simón Bolivar Jugendorchester. Dadurch hatte er die
    Chance unter anderem in der Carnegie Hall, beim Lucerne Festival und in der
    Berliner Philharmonie zu spielen und mit verschiedenen Dirigenten wie Simon
    Rattle, Claudio Abbado, John Williams und Gustavo Dudamel zusammen zu
    arbeiten. In diesem Zusammenhang entstanden vier Alben mit dem Label
    "Deutsche Grammophon".

    Ein anderes Album entstand mit dem venezolanischen Sänger und Komponisten
    Ilan Chester, welches einen Grammy Latino Award 2010 gewann.

    2009 kam Jhon nach Basel um bei Rainer Schmidt  an der Musikakademie Basel
    Kammermusik zu studieren. Dies bezeichnet Jhon als die wichtigste Phase
    seiner musikalischen Karriere. Ab 2011 machte er dann das Masterstudium in
    Musikpädagogik bei Rafael Rosenfeld.

    Heute arbeitet er als Musiklehrer in der Tagesschule Oberglatt (ZH). Er ist
    Stimmführer des Orchesters des Gregorius Chors in Wiedikon (ZH) und spielt
    dazu noch in weitere Projekten in verschiedenen musikalischen Bereichen.
