---
title: "Mitglied werden"
description: "Wir konnten Ihr Interesse an unserem Verein wecken und Sie wollen uns unterstützen? Hier können Sie Mitglied werden."
keywords: "Aktivmitglied, Passivmitglied, Mitgliedschaft"

navigation: "top"
---

extends ../../template.pug

block content
  :marked
    Gerne heißen wir Sie als Mitglied in unserem Verein willkommen.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  .row
    .col-md-6.col-xs-12
      :marked
        # Passivmitglied werden
        Mit folgendem Dokument können Sie
        <a title="Beitrittserklärung"
            href="/files/pdf/beitrittserklaerung.pdf"
            target="_blank">Passivmitglied
          des Musikverein Wollbach werden</a>.
        Das Formular können Sie uns jederzeit persönlich bei einem unserer
        Auftritte geben, oder auch an folgenden Adresse verschicken:

        &nbsp;&nbsp;&nbsp;&nbsp;Musikverein Wollbach<br />
        &nbsp;&nbsp;&nbsp;&nbsp;Rathausstr. 17<br />
        &nbsp;&nbsp;&nbsp;&nbsp;79400 Wollbach

        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

    .col-md-6.col-xs-12
      :marked
        # Aktive Mitgliedschaft
        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
