name: CI
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:

permissions:
  pull-requests: write
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20.x
      - name: npm ci
        run: npm ci
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.139.0'
          extended: true
      - name: Build
        run: npm run build
      - name: Create Index
        run: npm run index
      - name: Dependabot Auto Merge
        if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request' }}
        run: |
          echo "$GITHUB_CONTEXT"
          gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.GH_ACTION_MERGER_TOKEN }}
